@page "/fetchdata"
@using Entity
 

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>
<p>ok33</p>
@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
            <th>X</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var forecast in forecasts)
        {
            <tr>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
                <td>@forecast.X</td>
            </tr>
        }
        </tbody>
    </table>
    <ListView TItem="WeatherForecast" Items="@forecasts" >
        <HeaderTemplate>
            <div>产品列表</div>
        </HeaderTemplate>
        <BodyTemplate>
         <Card Color="Color.Dark" Class="ml-3  mt-2" IsCenter="true" style="width: 18rem;">
                    <CardHeader>
                        @context.Summary
                    </CardHeader>
                    <CardBody>
                        <h5 class="card-title">@context.X</h5>
                        <p class="card-text">  @context.Date.ToShortDateString() 
                                               @context.TemperatureC 
                                               @context.TemperatureF 
                                               @context.Summary 
                                               @context.X 
                        </p>
                    </CardBody>
                </Card>
        </BodyTemplate>
    </ListView>
     
<Block Title="基础表格" Introduction="基础的表格展示用法。" >

  <Table TItem="WeatherForecast"  Items="@forecasts"  IsPagination="true" PageItemsSource="@PageItemsSource" ShowLineNo="true"
                                                       IsStriped="true" IsBordered="true" IsMultipleSelect="true"
                                                       ShowToolbar="true" ShowExtendButtons="true" ShowSkeleton="true">
        <TableColumns>
            <TableColumn @bind-Field="@context.X" />
            <TableColumn @bind-Field="@context.Summary" />
            <TableColumn @bind-Field="@context.TemperatureC" />
            <TableColumn @bind-Field="@context.TemperatureC" />
            <TableColumn @bind-Field="@context.Date" />
        </TableColumns>
    </Table>
</Block>
}
 