@page "/fetchdata"
@using Entity


<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>
<p>ok33</p>
@if (forecasts == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
            <th>X</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var forecast in forecasts)
        {
            <tr>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
                <td>@forecast.X</td>
            </tr>
        }
        </tbody>
    </table>
    <AntList DataSource="@forecasts" TItem="WeatherForecast">
        <ListItem >
            <Card Bordered Title="@context.Summary">
                <Body>
                <h5 class="card-title">@context.X</h5>
                <p class="card-text">
                    @context.Date.ToShortDateString()
                    @context.TemperatureC
                    @context.TemperatureF
                    @context.Summary
                    @context.X
                </p>
                </Body>
            </Card>
        </ListItem>
    </AntList>
    @* *@
    @* <Table @ref="table" *@
    @*        TItem="WeatherForecast" *@
    @*        DataSource="@forecasts" *@
    @*        Total="_total" *@
    @*        @bind-PageIndex="_pageIndex" *@
    @*        @bind-PageSize="_pageSize" *@
    @*        @bind-SelectedRows="selectedRows" *@
    @*        OnChange="OnChange"> *@
    @*     <Selection Key="@(context.X.ToString())"/> *@
    @*     <Column @bind-Field="@context.Id" Sortable/> *@
    @*     <Column @bind-Field="@context.Date" Format="yyyy-MM-dd" Sortable/> *@
    @*     <Column @bind-Field="@context.TemperatureC" Sortable/> *@
    @*     <Column Title="Temp. (F)" Field="@context.TemperatureF"/> *@
    @*     <Column Title="Hot" Field="@context.Hot"> *@
    @*         <Switch @bind-Value="@context.Hot"></Switch> *@
    @*     </Column> *@
    @*     <Column @bind-Field="@context.Summary" Sortable/> *@
    @*     <ActionColumn> *@
    @*         <Space> *@
    @*             <SpaceItem> *@
    @*                 <Button Danger OnClick="() => Delete(context.Id)">Delete</Button> *@
    @*             </SpaceItem> *@
    @*         </Space> *@
    @*     </ActionColumn> *@
    @* </Table> *@
}
