@using k8s.Models
@using BlazorApp.Pages.Common.Html.HTable
@using BlazorApp.Pages.Common.Metadata
@using BlazorApp.Utils
@if (Volume.Csi != null)
{
    <BadgeRibbon Text="@Volume.Name" Placement="start" Color="#832">
        <TextTemplate>
            <span style="color:#DCDCDC">@Index</span>
            <Icon Type="hdd" Theme="outline"/>
            @Volume.Name
        </TextTemplate>
        <ChildContent>
            <Card Bordered>
                <HTable >
                    <HTr>
                        <HTd>
                            Volume
                            <KubectlExplainButton Field="pod.spec.volumes.csi"></KubectlExplainButton>
                        </HTd>
                        <HTd >
                            <Tag>@Volume.Name</Tag> <Tag Color="@RandomColorHelper.RandomColor()">CSI</Tag>
                        </HTd>
                    </HTr>
                    <CsiSourceView Csi="@Volume.Csi" FieldPrefix="pod.spec.volumes"></CsiSourceView>

                </HTable>
            </Card>
        </ChildContent>
    </BadgeRibbon>
}


@code {

    [Parameter]
    public V1Volume Volume { get; set; }

    [Parameter]
    public int Index { get; set; }

}
