@using BlazorApp.Pages.Common
@using BlazorApp.Pages.Common.Html.HTable
@using BlazorApp.Pages.Common.Metadata
@using k8s.Models
@inherits BlazorApp.Pages.Common.PageBase

@if (Volume.EmptyDir != null)
{
    <BadgeRibbon Text="@Volume.Name" Placement="start" Color="#832">
        <TextTemplate>
            <span style="color:#DCDCDC">@Index</span>
            <Icon Type="hdd" Theme="outline"/>
            @Volume.Name
        </TextTemplate>
        <ChildContent>
            <Card Bordered>
                <HTable >
                    <HTr>
                        <HTd>
                            @L["Volume"]
                            <KubectlExplainButton Field="pod.spec.volumes.emptyDir"></KubectlExplainButton>
                        </HTd>
                        <HTd >
                            <Tag>@Volume.Name</Tag> <ColorfulTag>EmptyDir</ColorfulTag>
                        </HTd>
                    </HTr>
                    <PropertyOptionView Title="Medium" Item="@Volume.EmptyDir.Medium" Options='@(new[] { "", "Memory" })' ExplainField="pod.spec.volumes.emptyDir.medium"></PropertyOptionView>
                    <PropertySimpleView Title="SizeLimit" ExplainField="pod.spec.volumes.emptyDir.sizeLimit" Item="@Volume.EmptyDir.SizeLimit"></PropertySimpleView>
                </HTable>
            </Card>
        </ChildContent>
    </BadgeRibbon>
}


@code {

    [Parameter] public V1Volume Volume { get; set; }

    [Parameter] public int Index { get; set; }

}
