@using k8s.Models
@using BlazorApp.Pages.Common.Html.HTable
@using BlazorApp.Pages.Common.Metadata
@using BlazorApp.Utils
@inherits BlazorApp.Pages.Common.PageBase

@if (Volume.Nfs != null)
{
    <BadgeRibbon Text="@Volume.Name" Placement="start" Color="#832">
        <TextTemplate>
            <span style="color:#DCDCDC">@Index</span>
            <Icon Type="hdd" Theme="outline"/>
            @Volume.Name
        </TextTemplate>
        <ChildContent>
            <Card Bordered>
                <HTable >
                    <HTr>
                        <HTd>
                            @L["Volume"]
                            <KubectlExplainButton Field="pod.spec.volumes.nfs"></KubectlExplainButton>
                        </HTd>
                        <HTd >
                            <Tag>@Volume.Name</Tag> <Tag Color="@RandomColorHelper.RandomColor()">Nfs</Tag>
                        </HTd>
                    </HTr>
                    <NfsSourceView FieldPrefix="pod.spec.volumes" Nfs="@Volume.Nfs"></NfsSourceView>
                </HTable>
            </Card>
        </ChildContent>
    </BadgeRibbon>
}


@code {

    [Parameter]
    public V1Volume Volume { get; set; }

    [Parameter]
    public int Index { get; set; }

}
