@using k8s.Models
@using BlazorApp.Pages.Common.Html.HTable
@using BlazorApp.Pages.Common.Metadata
@using BlazorApp.Utils
@if (Volume.Secret != null)
{
    <HTable >

        <HTr>
            <HTd ColSpan="2">
                <span style="color:#DCDCDC">@Index</span>
                @Volume.Name
                <Tag Color="@RandomColorHelper.RandomColor()">Secret</Tag>
            </HTd>
        </HTr>
        <PropertySimpleView Title="Name" ExplainField="pod.spec.volumes.secret.secretName" Item="@Volume.Secret.SecretName"></PropertySimpleView>
        <PropertySimpleView Title="DefaultMode" ExplainField="pod.spec.volumes.secret.defaultMode" Item="@Volume.Secret.DefaultMode"></PropertySimpleView>
        <PropertySimpleView Title="Optional" ExplainField="pod.spec.volumes.secret.optional" Item="@Volume.Secret.Optional"></PropertySimpleView>

        @if (Volume.Secret.Items != null)
        {
            @foreach (var ktp in Volume.Secret.Items)
            {
                <HTr>
                    <HTd >
                        Secret
                        <KubectlExplainButton Field="pod.spec.volumes.secret"></KubectlExplainButton>
                    </HTd >
                    <HTd >
                        <Tag>@ktp.Key => @ktp.Path</Tag>
                        @if (ktp.Mode != null)
                        {
                            <Tag>@ktp.Mode</Tag>
                        }
                        <KubectlExplainButton Field="pod.spec.volumes.secret.items"></KubectlExplainButton>
                    </HTd>
                </HTr>
            }
        }
    </HTable>
}


@code {

    [Parameter]
    public V1Volume Volume { get; set; }

    [Parameter]
    public int Index { get; set; }

}
