@using k8s.Models
@using Blazor.Pages.Pod
@using Blazor.Pages.Event
@using Blazor.Pages.Workload
@using Extension
@using Extension.k8s
@inherits FeedbackComponent<Entity.NodeVO, bool>
@if (Node != null)
{
    <Divider Orientation="left" Style="font-weight:bold">节点详细信息</Divider>
    <Descriptions Bordered Column="1">
        <DescriptionsItem Title="创建时间">
            @Node.Metadata.CreationTimestamp?.AgeFromUtc()
            (@Node.Metadata.CreationTimestamp)
        </DescriptionsItem>
        <DescriptionsItem Title="Name">
            <Text Copyable> @Node.Name()</Text>
        </DescriptionsItem>
        <DescriptionsItem Title="Conditions">
            @if (Node.Status.Conditions.IsReady())
            {
                <Tag Icon="check-circle" Color="success">Ready</Tag>
            }
            else
            {
                <Tag Icon="close-circle" Color="error">@Node.Status.Conditions.NotReadyReason()</Tag>
            }
        </DescriptionsItem>
        <DescriptionsItem Title="Address">
            @foreach (var addr in Node.Status.Addresses)
            {
                <div>@addr.Type : @addr.Address</div>
            }
        </DescriptionsItem>
        <DescriptionsItem Title="OS">
            @Node.Status.NodeInfo.OperatingSystem (@Node.Status.NodeInfo.Architecture)
        </DescriptionsItem>
        <DescriptionsItem Title="KernelVersion">@Node.Status.NodeInfo.KernelVersion</DescriptionsItem>
        <DescriptionsItem Title="KubeletVersion">@Node.Status.NodeInfo.KubeletVersion</DescriptionsItem>
        <DescriptionsItem Title="ContainerRuntime">@Node.Status.NodeInfo.ContainerRuntimeVersion</DescriptionsItem>
        <LabelsView Labels="@Node.Labels()"></LabelsView>
        <AnnotationsView Annotations="@Node.Annotations()"></AnnotationsView>
    </Descriptions>
    <NodeResourceQuantityView BlockTitle="Capacity" Dict=@Node.Status.Capacity>
    </NodeResourceQuantityView>
    <NodeResourceQuantityView BlockTitle="Allocatable" Dict=@Node.Status.Allocatable>
    </NodeResourceQuantityView>
    <PodListView Pods="Pods"></PodListView>
    <EventListView Host="@Node.Name()"></EventListView>
}
