@page "/PersistentVolumeClaim"
@using k8s.Models
@using BlazorApp.Pages.Common.Html.HTable
@using BlazorApp.Pages.Common.Metadata
@using BlazorApp.Pages.Common
@inherits BlazorApp.Pages.Common.TableBase<V1PersistentVolumeClaim>
@if (TableData.PagedItems != null)
{
    <HTable Class="wideTable">
        <HTr>
            <HTd >
                <SearchToolBar Title="PersistentVolumeClaim" Count="@TableData.Total" OnItemDeletedCallback="@(async () => await InvokeAsync(StateHasChanged))"
                               OnSelectedItemCloseClicked="@TableData.RemoveSelection"
                               OnRemoveAllClicked="@TableData.RemoveAllSelection" TableData="@TableData"
                               OnSearch="OnSearchHandler" TItem="V1PersistentVolumeClaim"
                               OnNsSelected="OnNsSelectedHandler">
                </SearchToolBar>
            </HTd>
        </HTr>
        <HTr>
            <HTd >
                <Table TItem="V1PersistentVolumeClaim"
                       DataSource="@TableData.PagedItems"
                       Size=@TableSize.Small Bordered="true"
                       Total="TableData.Total"
                       @bind-PageIndex="TableData.PageIndex"
                       @bind-PageSize="TableData.PageSize"
                       @bind-SelectedRows="TableData.SelectedRows"
                       Loading="TableData.Loading"
                       OnChange="OnPageChangeHandler">
                    <Selection Key="@(context.Name())"/>
                    <AntDesign.Column Field="@context.Name()" Title=@L["Name"]>
                        <Button OnClick="@(() => OnItemNameClick(context))" Type="@ButtonType.Link">@context.Name()</Button>
                    </AntDesign.Column>
                    <AntDesign.Column Field="@context.Namespace()" Title=@L["Namespace"] Width="110px"/>
                    <AntDesign.Column Title=@L["Status"] TData="string">
                        <ColorfulTag>@context.Status.Phase</ColorfulTag>
                    </AntDesign.Column>
                    <AntDesign.Column Title="VolumeName" TData="string">
                        <Tag>@context.Spec.VolumeName</Tag>
                    </AntDesign.Column>
                    <AntDesign.Column Title="Capacity" TData="string">
                        @if (context.Status.Capacity is { Count: > 0 })
                        {
                            @foreach (var (key, value) in context.Status.Capacity)
                            {
                                <div>
                                    <ColorfulTag>@($"{key}={value}")</ColorfulTag>
                                </div>
                            }
                        }
                    </AntDesign.Column>
                    <AntDesign.Column Title="AccessModes" TData="string">
                        @foreach (var mode in context.Spec.AccessModes)
                        {
                            <div>
                                <ColorfulTag>@mode</ColorfulTag>
                            </div>
                        }
                    </AntDesign.Column>
                    <AntDesign.Column Title="StorageClass" TData="string">
                        <ColorfulTag>@context.Spec.StorageClassName</ColorfulTag>
                    </AntDesign.Column>
                    <AntDesign.Column Title="VolumeMode" TData="string">
                        <ColorfulTag>@context.Spec.VolumeMode</ColorfulTag>
                    </AntDesign.Column>
                    <AntDesign.Column Title=@L["Age"] TData="string" Width="100px">
                        <AgeView Age="@context.CreationTimestamp()"></AgeView>
                    </AntDesign.Column>
                    <ActionColumn Title=@L["Action"] Width="100px">
                        <PersistentVolumeClaimAction Item="@context"></PersistentVolumeClaimAction>
                    </ActionColumn>
                </Table>

            </HTd>
        </HTr>
    </HTable>

    <ResourceWatcher OnResourceChanged="OnResourceChanged" T="V1PersistentVolumeClaim"></ResourceWatcher>
}
