@page "/ClusterRoleBinding"
@using k8s.Models
@using Mapster
@using BlazorApp.Pages.Common.Html.HTable
@using BlazorApp.Pages.Common.Metadata
@using BlazorApp.Pages.Common
@inherits BlazorApp.Pages.Common.TableBase<V1ClusterRoleBinding>
@if (TableData.PagedItems != null)
{
    <HTable Class="wideTable">
        <HTr>
            <HTd >
                <SearchToolBar Title="ClusterRoleBinding" Count="@TableData.Total"
                               OnSelectedItemCloseClicked="@TableData.RemoveSelection"
                               OnRemoveAllClicked="@TableData.RemoveAllSelection"
                               TableData="@TableData"
                               OnSearch="OnSearchHandler" TItem="V1ClusterRoleBinding"
                               OnNsSelected="OnNsSelectedHandler"
                               HideNsSelector="true">
                </SearchToolBar>
            </HTd>
        </HTr>
        <HTr>
            <HTd >
                <Table TItem="V1ClusterRoleBinding"
                       DataSource="@TableData.PagedItems"
                       Size=@TableSize.Small Bordered="true"
                       Total="TableData.Total"
                       @bind-PageIndex="TableData.PageIndex"
                       @bind-PageSize="TableData.PageSize"
                       @bind-SelectedRows="TableData.SelectedRows"
                       Loading="TableData.Loading"
                       OnChange="OnPageChangeHandler">
                    <Selection Key="@(context.Name())"/>
                    <AntDesign.Column Field="@context.Name()" Title="Name">
                        <Button OnClick="@(() => OnItemNameClick(context))" Type="@ButtonType.Link">@context.Name()</Button>
                    </AntDesign.Column>


                    <AntDesign.Column Title="User" TData="string">
                        @foreach (var subject in ClusterRoleService.ListManagedSubjectByClusterRoleName(context.Name()))
                        {
                            <div>
                                <RefView Ref="@(subject.Adapt<V1ObjectReference>())" FullView="true"></RefView>
                            </div>
                        }
                    </AntDesign.Column>
                    <AntDesign.Column Title="ClusterRole" TData="string">
                        <div>
                            <RefView Ref="@(context.RoleRef.Adapt<V1ObjectReference>())" FullView="true"></RefView>
                        </div>
                    </AntDesign.Column>

                    <AntDesign.Column Title="Age" TData="string" Width="100px">
                        <AgeView Age="@context.CreationTimestamp()"></AgeView>
                    </AntDesign.Column>
                    <ActionColumn Title="Action" Width="100px">
                        <ClusterRoleBindingAction Item="@context"></ClusterRoleBindingAction>
                    </ActionColumn>
                </Table>
            </HTd>
        </HTr>
    </HTable>
    <ResourceWatcher OnResourceChanged="OnResourceChanged" T="V1ClusterRoleBinding"></ResourceWatcher>
}
