@using Extension
@using Extension.k8s
@using k8s.Models
@using BlazorApp.Pages.Workload
@using BlazorApp.Pages.Pod
@using BlazorApp.Pages.Event
@inherits FeedbackComponent<V1Node, bool>
@if (_node != null)
{
    <Divider Orientation="left" Style="font-weight:bold">节点详细信息</Divider>
    <Descriptions Bordered Column="1">
        <DescriptionsItem Title="创建时间">
            @_node.Metadata.CreationTimestamp?.AgeFromUtc()
            (@_node.Metadata.CreationTimestamp)
        </DescriptionsItem>
        <DescriptionsItem Title="Name">
            <Text Copyable> @_node.Name()</Text>
        </DescriptionsItem>
        <DescriptionsItem Title="Conditions">
            @if (_node.Status.Conditions.IsReady())
            {
                <Tag Icon="check-circle" Color="success">Ready</Tag>
            }
            else
            {
                <Tag Icon="close-circle" Color="error">@_node.Status.Conditions.NotReadyReason()</Tag>
            }
        </DescriptionsItem>
        <DescriptionsItem Title="Address">
            @foreach (var addr in _node.Status.Addresses)
            {
                <div>@addr.Type : @addr.Address</div>
            }
        </DescriptionsItem>
        <DescriptionsItem Title="OS">
            @_node.Status.NodeInfo.OperatingSystem (@_node.Status.NodeInfo.Architecture)
        </DescriptionsItem>
        <DescriptionsItem Title="KernelVersion">@_node.Status.NodeInfo.KernelVersion</DescriptionsItem>
        <DescriptionsItem Title="KubeletVersion">@_node.Status.NodeInfo.KubeletVersion</DescriptionsItem>
        <DescriptionsItem Title="ContainerRuntime">@_node.Status.NodeInfo.ContainerRuntimeVersion</DescriptionsItem>
        <LabelsView Labels="@_node.Labels()"></LabelsView>
        <AnnotationsView Annotations="@_node.Annotations()"></AnnotationsView>
    </Descriptions>
    <NodeResourceQuantityView BlockTitle="Capacity" Dict=@_node.Status.Capacity>
    </NodeResourceQuantityView>
    <NodeResourceQuantityView BlockTitle="Allocatable" Dict=@_node.Status.Allocatable>
    </NodeResourceQuantityView>
    <PodListView Pods="_pods" HideAction="true"></PodListView>
    <EventListView Host="@_node.Name()"></EventListView>
}
