@using Extension.k8s
@using k8s.Models
@using BlazorApp.Pages.Common.Html.HTable
@using BlazorApp.Pages.Common.Metadata
@using BlazorApp.Pages.Event
@using BlazorApp.Pages.Pod
@using BlazorApp.Pages.Common.Html
@inherits FeedbackComponent<V1Node, bool>
@if (_node != null)
{
    <Divider Orientation="left" Style="font-weight:bold">节点详细信息</Divider>
    <HTable Bordered Column="1">
        <MetadataView Item="_node.Metadata" ></MetadataView>

        <HTableColumn Title="Conditions" >
            @if (_node.Status.Conditions.IsReady())
            {
                <Tag Icon="check-circle" Color="success">Ready</Tag>
            }
            else
            {
                <Tag Icon="close-circle" Color="error">@_node.Status.Conditions.NotReadyReason()</Tag>
            }
        </HTableColumn>
        <HTableColumn Title="Address">
            @foreach (var addr in _node.Status.Addresses)
            {
                <div>@addr.Type : @addr.Address</div>
            }
        </HTableColumn>
        <HTableColumn Title="OS">
            @_node.Status.NodeInfo.OperatingSystem (@_node.Status.NodeInfo.Architecture)
        </HTableColumn>
        <HTableColumn Title="KernelVersion">@_node.Status.NodeInfo.KernelVersion</HTableColumn>
        <HTableColumn Title="KubeletVersion">@_node.Status.NodeInfo.KubeletVersion</HTableColumn>
        <HTableColumn Title="ContainerRuntime">@_node.Status.NodeInfo.ContainerRuntimeVersion</HTableColumn>
    </HTable>
    <NodeResourceQuantityView BlockTitle="Capacity" Dict=@_node.Status.Capacity>
    </NodeResourceQuantityView>
    <NodeResourceQuantityView BlockTitle="Allocatable" Dict=@_node.Status.Allocatable>
    </NodeResourceQuantityView>
    <MiniPodListView Pods="_pods" HideAction="true"></MiniPodListView>
    <MiniEventListView Host="@_node.Name()"></MiniEventListView>
}
