@using Extension.k8s
@using k8s.Models
@using BlazorApp.Pages.Common.Metadata
@using BlazorApp.Pages.Event
@using BlazorApp.Pages.Pod
@inherits FeedbackComponent<V1Node, bool>
@if (_node != null)
{
    <Divider Orientation="left" Style="font-weight:bold">节点详细信息</Divider>
    <Descriptions Bordered Column="1">
        <MetadataView Item="_node" T="V1Node"></MetadataView>

        <DescriptionsItem Title="Conditions" LabelStyle="width:120px">
            @if (_node.Status.Conditions.IsReady())
            {
                <Tag Icon="check-circle" Color="success">Ready</Tag>
            }
            else
            {
                <Tag Icon="close-circle" Color="error">@_node.Status.Conditions.NotReadyReason()</Tag>
            }
        </DescriptionsItem>
        <DescriptionsItem Title="Address">
            @foreach (var addr in _node.Status.Addresses)
            {
                <div>@addr.Type : @addr.Address</div>
            }
        </DescriptionsItem>
        <DescriptionsItem Title="OS">
            @_node.Status.NodeInfo.OperatingSystem (@_node.Status.NodeInfo.Architecture)
        </DescriptionsItem>
        <DescriptionsItem Title="KernelVersion">@_node.Status.NodeInfo.KernelVersion</DescriptionsItem>
        <DescriptionsItem Title="KubeletVersion">@_node.Status.NodeInfo.KubeletVersion</DescriptionsItem>
        <DescriptionsItem Title="ContainerRuntime">@_node.Status.NodeInfo.ContainerRuntimeVersion</DescriptionsItem>
    </Descriptions>
    <NodeResourceQuantityView BlockTitle="Capacity" Dict=@_node.Status.Capacity>
    </NodeResourceQuantityView>
    <NodeResourceQuantityView BlockTitle="Allocatable" Dict=@_node.Status.Allocatable>
    </NodeResourceQuantityView>
    <MiniPodListView Pods="_pods" HideAction="true"></MiniPodListView>
    <MiniEventListView Host="@_node.Name()"></MiniEventListView>
}
