@using BlazorApp.Pages.Common
@using k8s.Models
@inherits BlazorApp.Pages.Common.PageBase

<ShareMenuItem T="V1Node" Item="Item" MenuMode="MenuMode">
    @if (MenuMode == MenuMode.Vertical)
    {
        <MenuItem OnClick="@(() => OnCordonClick(Item))">@L["Cordon"]</MenuItem>
        <MenuItem OnClick="@(() => OnUnCordonClick(Item))">@L["UnCordon"]</MenuItem>
        <MenuItem OnClick="@(() => OnDrainClick(Item))">@L["Drain"]</MenuItem>
    }
    else
    {
        <Button OnClick="@(() => OnCordonClick(Item))">@L["Cordon"]</Button>
        <Button OnClick="@(() => OnUnCordonClick(Item))">@L["UnCordon"]</Button>
    }
</ShareMenuItem>
