@page "/Node"
@using k8s.Models
@using Mapster
@using BlazorApp.Pages.Common.Html.HTable
@using BlazorApp.Pages.Common.Metadata
@using BlazorApp.Pages.Common
@inherits BlazorApp.Pages.Common.TableBase<V1Node>
@if (TableData.PagedItems != null)
{
    <HTable Class="wideTable">
        <HTr>
            <HTd >
                <SearchToolBar Title="Node" Count="@TableData.Total"
                               OnSearch="OnSearchHandler"
                               OnNsSelected="OnNsSelectedHandler">
                </SearchToolBar>
            </HTd>
        </HTr>
        <HTr>
            <HTd >
                <Table TItem="V1Node"
                       DataSource="@TableData.PagedItems"
                       Size=@TableSize.Small Bordered="true"
                       Total="TableData.Total"
                       @bind-PageIndex="TableData.PageIndex"
                       @bind-PageSize="TableData.PageSize"
                       @bind-SelectedRows="TableData.SelectedRows"
                       Loading="TableData.Loading"
                       OnChange="OnPageChangeHandler">
                    <Selection Key="@(context.Name())"/>
                    <AntDesign.Column Field="@context.Name()" Title="Name">
                        <Button OnClick="@(() => OnItemNameClick(context))" Type="@ButtonType.Link">@context.Name()</Button>
                    </AntDesign.Column>
                    <AntDesign.Column Title="Ready" TData="string"  Width="200px">
                        <ConditionsTagView Conditions="@(context.Status.Conditions.Adapt<IList<V1Condition>>())"></ConditionsTagView>
                    </AntDesign.Column>
                    <AntDesign.Column Title="Role" TData="string">
                        @foreach (var role in GetNodeRole(context))
                        {
                            <ColorfulTag>@role</ColorfulTag>
                        }
                    </AntDesign.Column>
                    <AntDesign.Column Title="InternalIP" TData="string"  Width="100px">
                       <ColorfulTag> @context.Status.Addresses.FirstOrDefault(x => x.Type == "InternalIP")?.Address</ColorfulTag>
                    </AntDesign.Column>
                    <AntDesign.Column Title="ExternalIP" TData="string" Width="100px">
                       <ColorfulTag> @context.Status.Addresses.FirstOrDefault(x => x.Type == "ExternalIP")?.Address</ColorfulTag>
                    </AntDesign.Column>
                    <AntDesign.Column Title="KubeletVersion" TData="string" Width="100px">
                        <ColorfulTag>@context.Status.NodeInfo.KubeletVersion</ColorfulTag>
                    </AntDesign.Column>
                    <AntDesign.Column Title="ContainerVersion" TData="string" Width="100px">
                       <ColorfulTag> @context.Status.NodeInfo.ContainerRuntimeVersion</ColorfulTag>
                    </AntDesign.Column>
                    <AntDesign.Column Title="KernelVersion" TData="string" Width="100px">
                       <ColorfulTag> @context.Status.NodeInfo.KernelVersion</ColorfulTag>
                    </AntDesign.Column>
                    <AntDesign.Column Title="OsImage" TData="string" Width="100px">
                        <ColorfulTag>@context.Status.NodeInfo.OsImage</ColorfulTag>
                    </AntDesign.Column>
                    <AntDesign.Column Title="Age" TData="string" Width="100px">
                        <AgeView Age="@context.CreationTimestamp()"></AgeView>
                    </AntDesign.Column>
                    <ActionColumn Title="Action" Width="100px" >
                        <NodeAction Item="@context"></NodeAction>
                    </ActionColumn>
                </Table>

            </HTd>
        </HTr>
    </HTable>

    <ResourceWatcher OnResourceChanged="OnResourceChanged" T="V1Node"></ResourceWatcher>
}
