@using BlazorApp.Pages.Common.Html
@if (Ports != null)
{
    <HTableColumn Title="Ports" ExplainField="service.spec.ports">
        @foreach (var p in Ports)
        {
            <div>
                @($"{p.Name}:{p.Port}/{p.Protocol} ")
                @if (p.NodePort != null)
                {
                    <Tag Color="success">@p.NodePort</Tag>
                }
                @if (p.AppProtocol != null)
                {
                    <Tag Color="@PresetColor.Blue.ToString()">@p.AppProtocol</Tag>
                }

                @if (SvcName != null && SvcNamespace != null)
                {
                    <Button Type="@ButtonType.Primary" OnClick="@(() => Forward(p))">Forward</Button>
                }
            </div>
        }
    </HTableColumn>
}
