@using BlazorApp.Pages.Common.Metadata
@using BlazorApp.Pages.Event
@using BlazorApp.Pages.Common.Html.HTable
@using BlazorApp.Pages.Common.Html
@inherits BlazorApp.Pages.Common.DrawerPageBase<k8s.Models.V1Service>
@if (Item != null)
{
    <ServiceAction Item="Item" MenuMode="MenuMode.Horizontal"></ServiceAction>
    <Divider Orientation="left" Style="font-weight:bold">Metadata</Divider>
    <MetadataView Item="Item.Metadata" ></MetadataView>
    <Divider Orientation="left" Style="font-weight:bold">Spec</Divider>
    <HTable Bordered Column="1">
        <SelectorView Title="Selector" Selector="@Item.Spec.Selector"></SelectorView>
        <PropertyOptionView Title="Type" Item="@Item.Spec.Type" Options='@(new[] { "ClusterIP", "NodePort", "ExternalName", "LoadBalancer" })' ExplainField="service.spec.type"></PropertyOptionView>
        <PropertyOptionView Title="SessionAffinity" Item="@Item.Spec.SessionAffinity" Options='@(new[] { "ClusterIP", "None" })' ExplainField="service.spec.sessionAffinity"></PropertyOptionView>
        <PropertySimpleView Title="SessionAffinityConfig" Item="@Item.Spec.SessionAffinityConfig" ExplainField="service.spec.sessionAffinityConfig" ShowInJson="true"></PropertySimpleView>
        <PropertyListView Title="IpFamilies" Items="@Item.Spec.IpFamilies" ExplainField="service.spec.ipFamilies" T="string"></PropertyListView>
        <PropertyOptionView Title="IpFamilyPolicy" Item="@Item.Spec.IpFamilyPolicy" Options='@(new[] { "PreferDualStack", "RequireDualStack", "SingleStack" })' ExplainField="service.spec.ipFamilyPolicy"></PropertyOptionView>
        <PropertySimpleView Title="HealthCheckNodePort" Item="@Item.Spec.HealthCheckNodePort" ExplainField="service.spec.healthCheckNodePort"></PropertySimpleView>
        <PropertySimpleView Title="ClusterIP" Item="@Item.Spec.ClusterIP" ExplainField="service.spec.clusterIP"></PropertySimpleView>
        <PropertyListView Title="ClusterIPs" Items="@Item.Spec.ClusterIPs" ExplainField="service.spec.clusterIPs" T="string"></PropertyListView>
        <PropertyOptionView Title="InternalTrafficPolicy" Item="@Item.Spec.InternalTrafficPolicy" Options='@(new[] { "Cluster", "Local" })' ExplainField="service.spec.internalTrafficPolicy"></PropertyOptionView>
        <PropertySimpleView Title="ExternalName" Item="@Item.Spec.ExternalName" ExplainField="service.spec.externalName"></PropertySimpleView>
        <PropertyOptionView Title="ExternalTrafficPolicy" Item="@Item.Spec.ExternalTrafficPolicy" Options='@(new[] { "Cluster", "Local" })' ExplainField="service.spec.externalTrafficPolicy"></PropertyOptionView>
        <PropertyListView Title="ExternalIPs" Items="@Item.Spec.ExternalIPs" ExplainField="service.spec.externalIPs" T="string"></PropertyListView>
        <PropertySimpleView Title="AllocateLoadBalancerNodePorts" Item="@Item.Spec.AllocateLoadBalancerNodePorts" ExplainField="service.spec.allocateLoadBalancerNodePorts"></PropertySimpleView>
        <PropertySimpleView Title="LoadBalancerClass" Item="@Item.Spec.LoadBalancerClass" ExplainField="service.spec.loadBalancerClass"></PropertySimpleView>
        <PropertySimpleView Title="LoadBalancerIP" Item="@Item.Spec.LoadBalancerIP" ExplainField="service.spec.loadBalancerIP"></PropertySimpleView>
        <PropertyListView Title="LoadBalancerSourceRanges" Items="@Item.Spec.LoadBalancerSourceRanges" ExplainField="service.spec.loadBalancerSourceRanges" T="string"></PropertyListView>
        <PropertySimpleView Title="PublishNotReadyAddresses" Item="@Item.Spec.PublishNotReadyAddresses" ExplainField="service.spec.publishNotReadyAddresses"></PropertySimpleView>

        @if (Item.Spec.Ports != null)
        {
            <HTableColumn Title="Ports">
                @foreach (var p in Item.Spec.Ports)
                {
                    <div>
                        @($"{p.Name}:{p.Port}/{p.Protocol} ")
                        @if (p.NodePort != null)
                        {
                            <Tag Color="success">@p.NodePort</Tag>
                        }
                        @if (p.AppProtocol != null)
                        {
                            <Tag Color="@PresetColor.Blue.ToString()">@p.AppProtocol</Tag>
                        }
                        <Button Type="@ButtonType.Primary" OnClick="@(() => Forward(p))">Forward</Button>
                    </div>
                }
                <KubectlExplainButton Field="service.spec.ports"></KubectlExplainButton>
            </HTableColumn>
        }
    </HTable>
    <MiniEventListView Uid="@Item.Metadata.Uid"></MiniEventListView>
}
