@page "/PodDisruptionBudget"
@using k8s.Models
@using BlazorApp.Pages.Common.Html.HTable
@using BlazorApp.Pages.Common.Metadata
@using BlazorApp.Pages.Common
@inherits BlazorApp.Pages.Common.TableBase<V1PodDisruptionBudget>
@if (TableData.PagedItems != null)
{
    <HTable Class="wideTable">
        <HTr>
            <HTd >
                <SearchToolBar Title="PodDisruptionBudget" Count="@TableData.Total"
                               OnSearch="OnSearchHandler"
                               OnNsSelected="OnNsSelectedHandler">
                </SearchToolBar>
            </HTd>
        </HTr>
        <HTr>
            <HTd >
                <Table TItem="V1PodDisruptionBudget"
                       DataSource="@TableData.PagedItems"
                       Size=@TableSize.Small Bordered="true"
                       Total="TableData.Total"
                       @bind-PageIndex="TableData.PageIndex"
                       @bind-PageSize="TableData.PageSize"
                       @bind-SelectedRows="TableData.SelectedRows"
                       Loading="TableData.Loading"
                       OnChange="OnPageChangeHandler">
                    <Selection Key="@(context.Name())"/>
                    <AntDesign.Column Field="@context.Name()" Title="Name">
                        <Button OnClick="@(() => OnItemNameClick(context))" Type="@ButtonType.Link">@context.Name()</Button>
                    </AntDesign.Column>
                    <AntDesign.Column Field="@context.Namespace()" Title="Namespace"  Width="110px"/>
                    <AntDesign.Column Title="Min" TData="string">
                        @(context.Spec.MinAvailable ?? "N/A")
                    </AntDesign.Column>
                    <AntDesign.Column Title="Max" TData="string">
                        @context.Spec.MaxUnavailable
                    </AntDesign.Column>
                    <AntDesign.Column Title="DisruptionsAllowed" TData="string">
                        @context.Status.DisruptionsAllowed
                    </AntDesign.Column>
                    <AntDesign.Column  Title="Age" TData="string"  Width="100px">
                        <AgeView Age="@context.CreationTimestamp()"></AgeView>
                    </AntDesign.Column>
                    <ActionColumn Title="Action" Width="200" Fixed="right">
                        <PodDisruptionBudgetAction Item="@context"></PodDisruptionBudgetAction>
                    </ActionColumn>
                </Table>

            </HTd>
        </HTr>
    </HTable>

    <ResourceWatcher OnResourceChanged="OnResourceChanged" T="V1PodDisruptionBudget"></ResourceWatcher>
}
