@using k8s.Models
@using Extension.k8s
@using BlazorApp.Pages.Common.Metadata
@inherits BlazorApp.Pages.Common.PageBase

<Divider Orientation="left" Style="font-weight:bold">Pod</Divider>
@if (Pods is { Count: > 0 })
{
    <Table TItem="V1Pod" DataSource="@Pods"
           HidePagination="true" PageSize="5000"
           Size=@TableSize.Small Bordered="true">
        <AntDesign.Column Title=@L["Name"] TData="string">
            <Button OnClick="@(() => OnPodNameClick(context))" Type="@ButtonType.Link">@context.Name()</Button>
        </AntDesign.Column>
        <AntDesign.Column Sortable="true" TData="string" Title=@L["Namespace"] Field="@context.Namespace()"/>
        <AntDesign.Column Sortable="true" TData="string" Title="Ready">@context.ReadySummary()</AntDesign.Column>
        <AntDesign.Column Title="Restart" TData="string">
            @context.RestartCount()
        </AntDesign.Column>
        <AntDesign.Column Sortable="true" TData="string" Title=@L["Status"]>
            <StatusView Status=@context.Status()></StatusView>
        </AntDesign.Column>
    </Table>
}
@if (Pods == null || Pods.Count == 0)
{
    <Empty Simple/>
}
