@using BlazorApp.Pages.Common
@using k8s.Models
@inherits BlazorApp.Pages.Common.PageBase

<ShareMenuItem T="V1Pod" Item="PodItem" MenuMode="MenuMode">
    @if (MenuMode == MenuMode.Vertical)
    {
        <MenuItem OnClick="@(() => OnPodLogClick(PodItem))">@L["ViewLog"]</MenuItem>
        <MenuItem OnClick="@(() => OnPodExecClick(PodItem))">@L["RunExec"]</MenuItem>
    }
    @if (MenuMode == MenuMode.Horizontal)
    {
        <Button OnClick="@(() => OnPodLogClick(PodItem))">@L["ViewLog"]</Button>
        <Button OnClick="@(() => OnPodExecClick(PodItem))">@L["RunExec"]</Button>
    }
</ShareMenuItem>
