@using BlazorApp.Pages.Common
@using k8s.Models
<ShareMenuItem T="V1Pod" Item="PodItem" MenuMode="MenuMode">
    @if (MenuMode == MenuMode.Vertical)
    {
        <MenuItem OnClick="@(() => OnPodLogClick(PodItem))">日志</MenuItem>
        <MenuItem OnClick="@(() => OnPodExecClick(PodItem))">Exec</MenuItem>
        <MenuItem >
            <Popconfirm Title="确定删除吗"
                        OnConfirm="@(() => OnPodDeleteClick(PodItem))"
                        OkText="Yes"
                        CancelText="No">
                删除
            </Popconfirm>
        </MenuItem>
        @if (_enable)
        {
            <MenuItem OnClick="@(() => OnAnalyzeClick(PodItem))">问题分析</MenuItem>
            <MenuItem OnClick="@(() => OnSecurityClick(PodItem))">安全检测</MenuItem>
        }
    }
    @if (MenuMode == MenuMode.Horizontal)
    {
        <Button OnClick="@(() => OnPodLogClick(PodItem))">日志</Button>
        <Button OnClick="@(() => OnPodExecClick(PodItem))">Exec</Button>
        @if (_enable)
        {
            <Button OnClick="@(() => OnAnalyzeClick(PodItem))">问题分析</Button>
            <Button OnClick="@(() => OnSecurityClick(PodItem))">安全检测</Button>
        }
    }
</ShareMenuItem>
