@using k8s.Models
@using  BlazorApp.Pages.Container
@using  BlazorApp.Pages.Event
@using  BlazorApp.Pages.Workload
@using Extension
@using Extension.k8s
@inherits FeedbackComponent<V1Pod, bool>
@if (PodItem != null)
{
    <Descriptions Bordered Column="1">
        <DescriptionsItem Title="创建时间">
            @PodItem.Metadata.CreationTimestamp?.AgeFromUtc()
            (@PodItem.Metadata.CreationTimestamp)
        </DescriptionsItem>
        <DescriptionsItem Title="Name">
            <Text Copyable>@PodItem.Name()</Text>
        </DescriptionsItem>
        <DescriptionsItem Title="Namespace">@PodItem.Namespace()</DescriptionsItem>
        <DescriptionsItem Title="状态">
            <StatusView Status=@PodItem.Status()></StatusView>
        </DescriptionsItem>
        <ControllerByView Owner=@PodItem.OwnerReferences()></ControllerByView>
        <DescriptionsItem Title="Node">
            <Button OnClick="@(() => OnNodeNameClick(PodItem.Spec.NodeName))" Type="@ButtonType.Link">@PodItem.Spec.NodeName</Button>
        </DescriptionsItem>
        <DescriptionsItem Title="Pod IP">
            @if (PodItem.Status.PodIP != null)
            {
                @PodItem.Status.PodIP
            }
        </DescriptionsItem>
        <DescriptionsItem Title="Pod IPs">
            @if (PodItem.Status.PodIPs != null)
            {
                @foreach (var ip in PodItem.Status.PodIPs)
                {
                    <Tag PresetColor=@PresetColor.Cyan>@ip.Ip</Tag>
                }
            }
        </DescriptionsItem>
        <DescriptionsItem Title="Priority Class">@PodItem.Spec.PriorityClassName</DescriptionsItem>
        <DescriptionsItem Title="QoS Class">@PodItem.Status.QosClass</DescriptionsItem>

        <SelectorView Title="Node Selector" Selector="@PodItem.Spec.NodeSelector"></SelectorView>
        <PodConditionView Conditions="@PodItem.Status.Conditions"></PodConditionView>
        <LabelsView Labels="PodItem.Labels()"></LabelsView>
        <AnnotationsView Annotations="@PodItem.Annotations()"></AnnotationsView>
        <ImagesView PodSpec="@PodItem.Spec"></ImagesView>
        <TolerationsView Tolerations="@PodItem.Spec.Tolerations"></TolerationsView>
    </Descriptions>
    <ContainerListView Pod="@PodItem"></ContainerListView>
    <VolumeView PodItem="@PodItem"></VolumeView>
    <EventListView Uid="@PodItem.Metadata.Uid"></EventListView>
}
