@using Extension.k8s
@using k8s.Models
@using BlazorApp.Pages.Common.Metadata
@using BlazorApp.Pages.Container
@using BlazorApp.Pages.Event
@using BlazorApp.Utils
@inherits BlazorApp.Pages.Common.DrawerPageBase<k8s.Models.V1Pod>
@if (Item != null)
{
    <PodAction PodItem="Item" MenuMode="MenuMode.Horizontal"></PodAction>
    <Divider Orientation="left" Style="font-weight:bold">Metadata</Divider>
    <MetadataView Item="Item" T="V1Pod"></MetadataView>
    <Divider Orientation="left" Style="font-weight:bold">Spec</Divider>
    <Descriptions Bordered Column="1">

        @if (Item.Spec.HostAliases != null)
        {
            <DescriptionsItem Title="HostAliases">
                @foreach (var alias in Item.Spec.HostAliases)
                {
                    @foreach (var hostname in alias.Hostnames)
                    {
                        <div>
                            <Tag Color=@RandomColorHelper.RandomColor()>@($"{alias.Ip} {hostname}")</Tag>
                        </div>
                    }
                }
                <KubectlExplainButton Field="pod.spec.hostAliases"></KubectlExplainButton>
            </DescriptionsItem>
        }
        <PropertySimpleView Title="ActiveDeadlineSeconds" ExplainField="pod.spec.activeDeadlineSeconds" Item="@Item.Spec.ActiveDeadlineSeconds"></PropertySimpleView>
        <PropertySimpleView Title="Affinity" ExplainField="pod.spec.affinity" Item="@Item.Spec.Affinity" ShowInJson="true"></PropertySimpleView>
        <PropertySimpleView Title="EnableServiceLinks" ExplainField="pod.spec.enableServiceLinks" Item="@Item.Spec.EnableServiceLinks"></PropertySimpleView>
        <PropertySimpleView Title="DnsConfig" ExplainField="pod.spec.dnsConfig" Item="@Item.Spec.DnsConfig" ShowInJson="true"></PropertySimpleView>
        <PropertyOptionView Title="DnsPolicy" Item="@Item.Spec.DnsPolicy" Options='@(new[] { "Default", "ClusterFirst", "ClusterFirstWithHostNet", "None" })' ExplainField="pod.spec.dnsPolicy"></PropertyOptionView>
        <PropertySimpleView Title="AutomountServiceAccountToken" ExplainField="pod.spec.automountServiceAccountToken" Item="@Item.Spec.AutomountServiceAccountToken"></PropertySimpleView>
        <PropertySimpleView Title="HostIPC" ExplainField="pod.spec.hostIPC" Item="@Item.Spec.HostIPC"></PropertySimpleView>
        <PropertySimpleView Title="HostNetwork" ExplainField="pod.spec.hostNetwork" Item="@Item.Spec.HostNetwork"></PropertySimpleView>
        <PropertySimpleView Title="HostPID" ExplainField="pod.spec.hostPID" Item="@Item.Spec.HostPID"></PropertySimpleView>
        <PropertySimpleView Title="HostUsers" ExplainField="pod.spec.hostUsers" Item="@Item.Spec.HostUsers"></PropertySimpleView>
        <PropertySimpleView Title="Hostname" ExplainField="pod.spec.Hostname" Item="@Item.Spec.Hostname"></PropertySimpleView>
        <PropertySimpleView Title="NodeName" ExplainField="pod.spec.NodeName" Item="@Item.Spec.NodeName" OnClick="@(() => OnNodeNameClick(Item.Spec.NodeName))"></PropertySimpleView>
        <PropertySimpleView Title="PriorityClass" Item="@Item.Spec.PriorityClassName" ExplainField="pod.spec.priorityClassName"></PropertySimpleView>
        <SelectorView Title="Node Selector" Selector="@Item.Spec.NodeSelector"></SelectorView>
        <PodConditionView Conditions="@Item.Status.Conditions"></PodConditionView>
        <ImagesView PodSpec="@Item.Spec"></ImagesView>
        <TolerationsView Tolerations="@Item.Spec.Tolerations"></TolerationsView>
    </Descriptions>
    <Divider Orientation="left" Style="font-weight:bold">Status</Divider>
    <Descriptions Bordered Column="1">
        <DescriptionsItem Title="status">
            <StatusView Status=@Item.Status()></StatusView>
        </DescriptionsItem>
        <PropertySimpleView Title="PodIP" ExplainField="pod.status.podIP" Item="@Item.Status.PodIP"></PropertySimpleView>
        <PropertyListView Title="PodIPs" ExplainField="pod.status.podIPs" Key="Ip" Items="@Item.Status.PodIPs" T="V1PodIP"></PropertyListView>
        <PropertySimpleView Title="PriorityClass" Item="@Item.Status.QosClass" ExplainField="pod.status.qosClass"></PropertySimpleView>
    </Descriptions>

    <ContainerListView Pod="@Item"></ContainerListView>
    <VolumeView PodItem="@Item"></VolumeView>
    <MiniEventListView Uid="@Item.Metadata.Uid"></MiniEventListView>
}
