@page "/Pods"
@using k8s.Models
@using Extension.k8s
@using BlazorApp.Pages.Common.Html.HTable
@using BlazorApp.Pages.Common.Metadata
@using BlazorApp.Pages.Container
@using BlazorApp.Pages.Common
@inherits BlazorApp.Pages.Common.TableBase<V1Pod>


@if (ItemList != null)
{
    <HTable Class="wideTable">
        <HTr>
            <HTd >
                <SearchToolBar Title="Pods" Count="@TableData.Total" OnItemDeletedCallback="@(async () => await InvokeAsync(StateHasChanged))"
                               OnSelectedItemCloseClicked="@TableData.RemoveSelection"
                               OnRemoveAllClicked="@TableData.RemoveAllSelection"

                               TableData="@TableData"
                               OnSearch="OnSearchHandler" TItem="V1Pod"
                               OnNsSelected="OnNsSelectedHandler">
                </SearchToolBar>
            </HTd>
        </HTr>
        <HTr>
            <HTd >
                <Table TItem="V1Pod"
                       DataSource="@TableData.PagedItems"
                       Size=@TableSize.Small Bordered="true"
                       Total="TableData.Total"
                       @bind-PageIndex="TableData.PageIndex"
                       @bind-PageSize="TableData.PageSize"
                       @bind-SelectedRows="TableData.SelectedRows"
                       OnChange="OnPageChangeHandler">
                    <Selection Key="@(context.Name())" Width="40" Fixed="left"/>
                    <AntDesign.Column Field="@context.Name()" Title="Name" Width="200px">
                        <a onclick="@(() => OnPodClick(context))">@context.Name()</a>
                    </AntDesign.Column>
                    <AntDesign.Column Field="@context.Namespace()" Title="Namespace" Width="110px"/>
                    <AntDesign.Column Title="Containers" TData="string" Width="100px">
                        <ContainerStatus Pod="@context"></ContainerStatus>
                    </AntDesign.Column>
                    <AntDesign.Column Title="Restart" TData="string" Width="80px">
                        @context.RestartCount()
                    </AntDesign.Column>
                    <AntDesign.Column Title="ControllerBy" TData="string">
                        <ControllerBy Owner="@context.OwnerReferences()" Namespace="@context.Namespace()"></ControllerBy>
                    </AntDesign.Column>
                    <AntDesign.Column Title="Node" TData="string" Width="120px">
                        <div onclick="@(() => OnNodeNameClick(context.Spec.NodeName))">@context.Spec.NodeName</div>
                    </AntDesign.Column>
                    <AntDesign.Column Title="PodIP" TData="string" Width="100px">
                        <ColorfulTag> @context.Status.PodIP</ColorfulTag>
                    </AntDesign.Column>
                    <AntDesign.Column Title="QoS" TData="string" Width="100px">
                        @context.Status.QosClass
                    </AntDesign.Column>
                    <AntDesign.Column Title="Selector" TData="string">
                        <SelectorView Selector="@context.Metadata.Labels"></SelectorView>
                    </AntDesign.Column>
                    <AntDesign.Column Title="Age" TData="string" Width="100px">
                        <AgeView Age="@context.CreationTimestamp()"></AgeView>
                    </AntDesign.Column>
                    <AntDesign.Column Title="Status" TData="string" Width="100px">
                        <StatusView Status="@context.Status()"></StatusView>
                    </AntDesign.Column>
                    <ActionColumn Title="Action" Width="100px">
                        <PodAction PodItem="@context"></PodAction>
                    </ActionColumn>
                </Table>
            </HTd>
        </HTr>
    </HTable>

    <ResourceWatcher OnResourceChanged="OnResourceChanged" T="V1Pod"></ResourceWatcher>
}
