@page "/Pods"
@using k8s.Models
@using Extension.k8s
@using Extension
@using BlazorApp.Pages.Workload
@using BlazorApp.Pages.Container
@if (tps.PagedItems != null)
{
    <Card Bordered="false" Hoverable="true">
        <TitleTemplate>
            <SearchToolBar Title="Pods" Count="@tps.Total"
                           OnSearch="OnSearchHandler"
                           OnNsSelected="OnNsSelectedHandler">
            </SearchToolBar>
        </TitleTemplate>
        <ChildContent>
            <Body>

            <Table TItem="V1Pod"
                   DataSource="@tps.PagedItems"
                   Size=@TableSize.Small Bordered="true"
                   Total="tps.Total"
                   @bind-PageIndex="tps.PageIndex"
                   @bind-PageSize="tps.PageSize"
                   @bind-SelectedRows="tps.SelectedRows"
                   Loading="tps.Loading"
                   OnChange="OnChange"
                   ScrollX="1500">
                <Selection Key="@(context.Name())" Width="40" Fixed="left"/>
                <AntDesign.Column Field="@context.Name()" Title="Name">
                    <a onclick="@(() => OnPodClick(context))">@context.Name()</a>
                </AntDesign.Column>
                <AntDesign.Column Field="@context.Namespace()" Title="Namespace"/>
                <AntDesign.Column Title="Containers" TData="string">
                    <ContainerStatus Pod="@context"></ContainerStatus>
                </AntDesign.Column>
                <AntDesign.Column Title="重启" TData="string" Width="50">
                    @context.RestartCount()
                </AntDesign.Column>
                <AntDesign.Column Title="ControllerBy" TData="string">
                    <ControllerBy Owner="context.OwnerReferences()"></ControllerBy>
                </AntDesign.Column>
                <AntDesign.Column Title="Node" TData="string">
                    <div onclick="@(() => OnNodeNameClick(context.Spec.NodeName))">@context.Spec.NodeName</div>
                </AntDesign.Column>
                <AntDesign.Column Title="QoS" TData="string">
                    @context.Status.QosClass
                </AntDesign.Column>
                <AntDesign.Column Title="存活" TData="string">
                    @context.CreationTimestamp()?.AgeFromUtc()
                </AntDesign.Column>
                <AntDesign.Column Title="Status" TData="string">
                    <StatusView Status="@context.Status()"></StatusView>
                </AntDesign.Column>
                <ActionColumn Title="Action" Width="100" Fixed="right">
                    <PodAction PodItem="@context" OnPodDelete="PodDeleteHandler"></PodAction>
                </ActionColumn>
            </Table>
            </Body>
        </ChildContent>
    </Card>
}
