@using BlazorApp.Pages.Common
@inherits FeedbackComponent<k8s.Models.V1Pod, bool>
@if (_podItem != null)
{
    <div>
        <SimpleSelect Style="width:250px;" DefaultValue="@_podItem.Spec.Containers[0].Name" OnSelectedItemChanged="OnContainerSelectChanged">
            <SelectOptions>
                @foreach (var c in _podItem.Spec.Containers)
                {
                    <SimpleSelectOption Value="@c.Name" Label="@c.Name"></SimpleSelectOption>
                }
                <SimpleSelectOption Value="all-containers" Label="All"></SimpleSelectOption>
            </SelectOptions>
        </SimpleSelect>
        <Checkbox bind-Value="@_showTimestamp" OnChange="@(() => _showTimestamp = !_showTimestamp)">显示时间戳</Checkbox>
        <Checkbox bind-Value="@_follow" OnChange="@(() => _follow = !_follow)">跟随</Checkbox>
        <Checkbox bind-Value="@_prefix" OnChange="@(() => _prefix = !_prefix)">显名</Checkbox>
        <Checkbox bind-Value="@_previous" OnChange="@(() => _previous = !_previous)">前世</Checkbox>
        <Checkbox bind-Value="@_ignoreErrors" OnChange="@(() => _ignoreErrors = !_ignoreErrors)">忽略错误</Checkbox>
        <DatePicker TValue="DateTime?" OnChange="@DatePickerChanged" bind-Value="@_sinceTimestamp" ShowTime="@true" Format="yyyy-MM-ddTHH:mm ss" Mask="yyyy-MM-ddTHH:mm ss" Placeholder="@("自从")"/>
        <Button Type="@ButtonType.Primary" OnClick="@(() => OnOkBtnClicked())">确定</Button>

    </div>
    <div class="mb-2">

        <Button Type="@ButtonType.Primary" OnClick="ScrollToTop">顶端</Button>
        <Button Type="@ButtonType.Primary" OnClick="ScrollToBottom">底端</Button>
        <Search Placeholder="input search text" @bind-value="@_searchInput"/>
    </div>
    <Xterm
        @ref="_terminal"
        Options="_options"
        OnFirstRender="@OnFirstRender"/>
    <PodLogWatcher OnPodLogChanged="@OnPodLogChanged" PodItem="@_podItem" ContainerName="@_containerName"></PodLogWatcher>
}
