@inherits FeedbackComponent<k8s.Models.V1Pod, bool>
<div class="mb-2">
    <Button Type="@ButtonType.Primary" OnClick="ScrollToTop">顶端</Button>
    <Button Type="@ButtonType.Primary" OnClick="ScrollToBottom">底端</Button>
    <input type="text" @bind-value="_searchInput">
    <Button Shape="@ButtonShape.Circle" Icon="@IconType.Outline.Search"/>
    <Search Placeholder="input search text" AllowClear OnClick="Search" Size="large" @bind-value="_searchInput"/>
</div>

<Xterm
    @ref="_terminal"
    Options="_options"
    AddonIds="_addonIds"
    OnFirstRender="@OnFirstRender"/>
<br/>
