@using Extension
@using k8s.Models
@using BlazorApp.Pages.Common.Html.HTable
@using BlazorApp.Pages.Common.Metadata
@using BlazorApp.Pages.Common
@inherits BlazorApp.Pages.Common.DrawerPageBase<V1PodSecurityContext>
@if (PodSecurityContext != null && !PodSecurityContext.ToJson().Equals("{}"))
{
    <Divider Orientation="left" Style="font-weight:bold"> PodSecurityContext </Divider>

    <HTable Bordered Column="1">
        <PropertySimpleView Title="FsGroup" Item="@PodSecurityContext.FsGroup" ExplainField="pod.spec.securityContext.fsGroup"></PropertySimpleView>
        <PropertyOptionView Title="FsGroupChangePolicy" ExplainField="pod.spec.securityContext.fsGroupChangePolicy" Item="@PodSecurityContext.FsGroupChangePolicy" Options='@(new[] { "OnRootMismatch", "Always" })'></PropertyOptionView>
        <PropertySimpleView Title="RunAsGroup" Item="@PodSecurityContext.RunAsGroup" ExplainField="pod.spec.securityContext.runAsGroup"></PropertySimpleView>
        <PropertySimpleView Title="RunAsNonRoot" Item="@PodSecurityContext.RunAsNonRoot" ExplainField="pod.spec.securityContext.runAsNonRoot"></PropertySimpleView>
        <PropertySimpleView Title="RunAsUser" Item="@PodSecurityContext.RunAsUser" ExplainField="pod.spec.securityContext.runAsUser"></PropertySimpleView>

        @if (PodSecurityContext.SeLinuxOptions != null)
        {
            <HTr>
                <HTd>SeLinuxOptions</HTd>
                <HTd>
                    @if (PodSecurityContext.SeLinuxOptions.Level != null)
                    {
                        <ColorfulTag >
                            @($"Level={PodSecurityContext.SeLinuxOptions.Level}")
                        </ColorfulTag>
                    }
                    @if (PodSecurityContext.SeLinuxOptions.User != null)
                    {
                        <ColorfulTag >
                            @($"User={PodSecurityContext.SeLinuxOptions.User}")
                        </ColorfulTag>
                    }
                    @if (PodSecurityContext.SeLinuxOptions.Type != null)
                    {
                        <ColorfulTag >
                            @($"Type={PodSecurityContext.SeLinuxOptions.Type}")
                        </ColorfulTag>
                    }
                    @if (PodSecurityContext.SeLinuxOptions.Role != null)
                    {
                        <ColorfulTag >
                            @($"Role={PodSecurityContext.SeLinuxOptions.Role}")
                        </ColorfulTag>
                    }
                    <KubectlExplainButton Field="pod.spec.securityContext.seLinuxOptions"></KubectlExplainButton>
                </HTd>
            </HTr>
        }
        @if (PodSecurityContext.SeccompProfile != null)
        {
            <PropertyOptionView Title="SeccompProfile" ExplainField="pod.spec.securityContext.seccompProfile" Item="@PodSecurityContext.SeccompProfile.Type" Options='@(new[] { "Localhost", "RuntimeDefault", "Unconfined" })'></PropertyOptionView>
            <PropertySimpleView Title="LocalhostProfile" ExplainField="pod.spec.securityContext.seccompProfile.LocalhostProfile" Item="@PodSecurityContext.SeccompProfile.LocalhostProfile"></PropertySimpleView>
        }
        <PropertyListView Title="SupplementalGroups" ExplainField="pod.spec.securityContext.supplementalGroups" Items="@PodSecurityContext.SupplementalGroups" T="long?"></PropertyListView>

        @if (PodSecurityContext.Sysctls != null)
        {
            <HTr>
                <HTd>
                    Sysctls
                    <KubectlExplainButton Field="pod.spec.securityContext.sysctls"></KubectlExplainButton>
                </HTd>
                <HTd>
                    @foreach (var sysctl in PodSecurityContext.Sysctls)
                    {
                        <div>
                            <ColorfulTag >
                                @($"{sysctl.Name}={sysctl.Value}")
                            </ColorfulTag>
                        </div>
                    }
                </HTd>
            </HTr>
        }

        @if (PodSecurityContext.WindowsOptions != null)
        {
            <HTr>
                <HTd>
                    WindowsOptions
                    <KubectlExplainButton Field="pod.spec.securityContext.windowsOptions"></KubectlExplainButton>
                </HTd>
                <HTd>
                    @if (PodSecurityContext.WindowsOptions.GmsaCredentialSpec != null)
                    {
                        <div>
                            <ColorfulTag >
                                @($"GmsaCredentialSpec={PodSecurityContext.WindowsOptions.GmsaCredentialSpec}")
                            </ColorfulTag>
                        </div>
                    }
                    @if (PodSecurityContext.WindowsOptions.GmsaCredentialSpecName != null)
                    {
                        <div>
                            <ColorfulTag >
                                @($"GmsaCredentialSpecName={PodSecurityContext.WindowsOptions.GmsaCredentialSpecName}")
                            </ColorfulTag>
                        </div>
                    }
                    @if (PodSecurityContext.WindowsOptions.HostProcess != null)
                    {
                        <div>
                            <ColorfulTag >
                                @($"HostProcess={PodSecurityContext.WindowsOptions.HostProcess}")
                            </ColorfulTag>
                        </div>
                    }
                    @if (PodSecurityContext.WindowsOptions.RunAsUserName != null)
                    {
                        <div>
                            <ColorfulTag >
                                @($"RunAsUserName={PodSecurityContext.WindowsOptions.RunAsUserName}")
                            </ColorfulTag>
                        </div>
                    }
                </HTd>
            </HTr>
        }
    </HTable>
}

@code{

    [Parameter]
    public V1PodSecurityContext PodSecurityContext { get; set; }

}
