@using Extension
@using BlazorApp.Pages.Common.Html.HTable
@using BlazorApp.Pages.Common.Metadata
@using BlazorApp.Pages.Common.Html
<Divider Orientation="left" Style="font-weight:bold">Events</Divider>
@if (Events != null)
{
    foreach (var e in Events)
    {
        <HTable Bordered Column="1">

            <HTableColumn Title="Message">

                <span style="color: @(e.Type == "Warning" ? "red" : "black")">
                    @e.Message
                </span>

                @if (e.Count > 1)
                {
                    <Badge Count="@e.Count"></Badge>
                }
            </HTableColumn>
            @if (e.Source != null)
            {
                <HTableColumn Title="Source">
                    @if (e.Source.Host != null)
                    {
                        <Tag >@e.Source.Host</Tag>
                    }
                    <Tag >@e.Source.Component</Tag>
                </HTableColumn>
            }
            @if (e.LastTimestamp != null)
            {
                <HTableColumn Title="LastSeen">
                    <AgeView Age="@e.LastTimestamp"></AgeView>
                    ( @e.LastTimestamp.GetValueOrDefault().ToLocalTime() )
                </HTableColumn>
            }
            @if (e.InvolvedObject != null)
            {
                <HTableColumn Title="Involved">
                    <Tag PresetColor="PresetColor.Blue">@e.InvolvedObject.NamespaceProperty</Tag>
                    <Tag PresetColor="PresetColor.Purple">@e.InvolvedObject.Kind</Tag>
                    <Tag PresetColor="PresetColor.Orange">@e.InvolvedObject.Name</Tag>
                    @if (e.InvolvedObject.FieldPath != null)
                    {
                        <Tag PresetColor="PresetColor.Green">@e.InvolvedObject.FieldPath</Tag>
                    }
                </HTableColumn>
            }
        </HTable>
    }

    if (!String.IsNullOrEmpty(Advice))
    {
        <Card Title="智能诊断">
            <Body>
            @((MarkupString)Advice.ToHtmlDisplay())
            </Body>
        </Card>
    }

    if (Events.Count==0)
    {
        <Empty Simple/>
    }
}
