@page "/ClusterConfig"
@using k8s.Models
@using Mapster
@using BlazorApp.Pages.Common.Html.HTable
@using BlazorApp.Pages.Common.Html
@using BlazorApp.Pages.Common


<Card Title="@KubeService.CurrentContext()" Style="width: 400px;margin: 50px">
    @if (ComponentStatus is { Count: > 0 })
    {
        <HTable>
            @foreach (var status in ComponentStatus)
            {
                <HTableColumn Title="@status.Name()">
                    <ConditionsTagView Conditions="@(status.Conditions.Adapt<IList<V1Condition>>())"></ConditionsTagView>
                </HTableColumn>
            }
        </HTable>
    }
</Card>
@if (PodMetricsList is { Count: > 0 })
{
    <HTable>
        @foreach (var status in PodMetricsList)
        {
            @foreach (var metrics in status.Containers)
            {
                <HTr>
                    <HTd>
                        @status.Name()
                    </HTd>
                    <HTd>
                        @status.CreationTimestamp()
                    </HTd>
                    <HTd>
                        @metrics.Name
                    </HTd>
                    <HTd>
                        <Area Data="@GetTrendData(status.Name(), "cpu")" Config="config1"/>
                    </HTd>
                    <HTd>
                        <TinyLine Data="@GetTrendData(status.Name(), "cpu")" Config="timesConfig"></TinyLine>
                    </HTd>
                    <HTd>
                        <TinyLine Data="@GetTrendData(status.Name(), "memory")" Config="timesConfig"></TinyLine>
                    </HTd>
                    <HTd>
                        @foreach (var (key, value) in metrics.Usage)
                        {
                            <div>@key: @value</div>
                        }
                    </HTd>
                </HTr>
            }
        }
    </HTable>
}
