@page "/DaemonSet"
@using k8s.Models
@using BlazorApp.Pages.Common
@using BlazorApp.Pages.Common.Metadata
@inherits BlazorApp.Pages.Common.TableBase<V1DaemonSet>
@if (TableData.PagedItems != null)
{
    <Card Bordered="false" Hoverable="true">
        <TitleTemplate>
            <SearchToolBar Title="DaemonSet" Count="@TableData.Total"
                           OnSearch="OnSearchHandler"
                           OnNsSelected="OnNsSelectedHandler">
            </SearchToolBar>
        </TitleTemplate>
        <ChildContent>
            <Body>
            <Table TItem="V1DaemonSet"
                   DataSource="@TableData.PagedItems"
                   Size=@TableSize.Small Bordered="true"
                   Total="TableData.Total"
                   @bind-PageIndex="TableData.PageIndex"
                   @bind-PageSize="TableData.PageSize"
                   @bind-SelectedRows="TableData.SelectedRows"
                   Loading="TableData.Loading"
                   OnChange="OnPageChangeHandler">
                <Selection Key="@(context.Name())"/>
                <AntDesign.Column Field="@context.Name()" Title="Name">
                    <Button OnClick="@(() => OnItemNameClick(context))" Type="@ButtonType.Link">@context.Name()</Button>
                </AntDesign.Column>
                <AntDesign.Column Field="@context.Namespace()" Title="Namespace"/>
                <AntDesign.Column Title="Desired" TData="int">
                    @(context.Status.DesiredNumberScheduled)
                </AntDesign.Column>
                <AntDesign.Column Title="Current" TData="int">
                    @($"{context.Status.CurrentNumberScheduled}")
                </AntDesign.Column>
                <AntDesign.Column Title="Ready" TData="int">
                    @($"{context.Status.NumberReady}")
                </AntDesign.Column>
                <AntDesign.Column Title="Up To Date" TData="int">
                    @(context.Status.UpdatedNumberScheduled ?? 0)
                </AntDesign.Column>
                <AntDesign.Column Title="Available" TData="int">
                    @(context.Status.NumberAvailable ?? 0)
                </AntDesign.Column>
                <AntDesign.Column Title="NodeSelector" TData="string">
                    <SelectorView Selector="@context.Spec.Template.Spec.NodeSelector"></SelectorView>
                </AntDesign.Column>
                <AntDesign.Column Title="Selector" TData="string">
                    <LabelSelectorView LabelSelector="@context.Spec.Selector"></LabelSelectorView>
                </AntDesign.Column>
                <AntDesign.Column Title="Images" TData="string">
                    <ImagesListView PodSpec="@context.Spec.Template.Spec"></ImagesListView>
                </AntDesign.Column>
                <AntDesign.Column Title="Age" TData="string">
                    <AgeView Age="@context.CreationTimestamp()"></AgeView>
                </AntDesign.Column>
                <ActionColumn Title="Action" Width="200" Fixed="right">
                    <DaemonSetAction Item="@context"></DaemonSetAction>
                </ActionColumn>
            </Table>
            </Body>
        </ChildContent>
    </Card>
    <ResourceWatcher OnResourceChanged="OnResourceChanged" T="V1DaemonSet"></ResourceWatcher>
}
