@if (Owner != null)
{
    @foreach (var o in Owner)
    {
        switch (o.Kind)
        {
            case "ReplicaSet":
<Tooltip Title="@o.Name">
     
            <Button OnClick="@(() => OnRsNameClick(o.Name))" Type="@ButtonType.Link">
                @o.Kind &nbsp;
                @if (ShowOwnerName)
                {
                    @o.Name
                }
            </Button>
        
       
</Tooltip>
                break;
            case "Node":
                <Tooltip Title="@o.Name">
                    <Button OnClick="@(() => OnNodeNameClick(o.Name))" Type="@ButtonType.Link">
                        @o.Kind &nbsp;
                        @if (ShowOwnerName)
                        {
                            @o.Name
                        }
                    </Button>
                </Tooltip>
                break;
            case "DaemonSet":
                @o.Kind
                break;
            case "Deployment":
                <Tooltip Title="@o.Name">
                    <Button OnClick="@(() => OnDeploymentNameClick(o.Name))" Type="@ButtonType.Link">
                        @o.Kind &nbsp;
                        @if (ShowOwnerName)
                        {
                            @o.Name
                        }
                    </Button>
                </Tooltip>
                break;
            default:
                @o.Kind
                break;
        }
    }
}
