@if (Owner != null)
{
    @foreach (var o in Owner)
    {
        switch (o.Kind)
        {
            case "ReplicaSet":
                <Tooltip Title="@o.Name">
                <Button OnClick="@(() => OnRsNameClick(o.Name))" Type="@ButtonType.Link">@o.Kind</Button>
                </Tooltip>
                break;
            case "Node":
                <Tooltip Title="@o.Name">
                <Button OnClick="@(() => OnNodeNameClick(o.Name))" Type="@ButtonType.Link" >@o.Kind</Button>
                </Tooltip>
                break;
            case "DaemonSet":
                @o.Kind
                break;
        }
    }
}
