@using Blazor.Pages.Namespace
<Row Gutter="@gutter">
    <AntDesign.Col Class="gutter-row" Span="6">
        <div style="@style">@Title</div>
    </AntDesign.Col>
    <AntDesign.Col Class="gutter-row" Span="6">
        <div style="@style">@Count Items</div>
    </AntDesign.Col>
    <AntDesign.Col Class="gutter-row" Span="6">
        <div style="@style">
            <NamespaceSelect OnNsSelected="OnNsSelectedHandler"></NamespaceSelect>
        </div>
    </AntDesign.Col>
    <AntDesign.Col Class="gutter-row" Span="6">
        <div style="@style">
            <Search Placeholder="@($"Search {Title}")" OnSearch="OnSearchHandler" @bind-Value="@TxtValue" ClassicSearchIcon/>
        </div>
    </AntDesign.Col>
</Row>

@code {
    string style = " padding: 8px 0;";


    Dictionary<string, int> gutter = new()
    {
        ["xs"] = 8,
        ["sm"] = 16,
        ["md"] = 24,
        ["lg"] = 32,
        ["xl"] = 48,
        ["xxl"] = 64
    };



}
