@using Blazor.Pages.Namespace
<Row Gutter="@gutter">
    <AntDesign.Col Class="gutter-row" Span="6">
        <div style="@style">@Title</div>
    </AntDesign.Col>
    <AntDesign.Col Class="gutter-row" Span="6">
        <div style="@style">@Count Items</div>
    </AntDesign.Col>
    <AntDesign.Col Class="gutter-row" Span="6">
        <div style="@style">
            <NamespaceSelect OnNsSelected="OnNsSelectedHandler"></NamespaceSelect>
        </div>
    </AntDesign.Col>
    <AntDesign.Col Class="gutter-row" Span="6">
        <div style="@style">
            <Search Loading="@loading" Placeholder="@($"Search {Title}")"   OnSearch="OnSearch" @bind-Value="@txtValue" ClassicSearchIcon />
        </div>
    </AntDesign.Col>
</Row>

@code {
    string style = " padding: 8px 0;";
    private bool loading;
    @inject MessageService message;
        private string txtValue { get; set; }

    Dictionary<string, int> gutter = new()
    {
        ["xs"] = 8,
        ["sm"] = 16,
        ["md"] = 24,
        ["lg"] = 32,
        ["xl"] = 48,
        ["xxl"] = 64
    };
    public async Task OnSearch()
    {
        await message.Loading($"searching {txtValue}", 2);
    }


}
