@using k8s.Models;
@using Extensions
@using Extensions.k8s
@inherits FeedbackComponent<V1Pod, bool>
@if(Pod!=null){
<Descriptions Title="POD详细信息" Bordered Column="1">
    <DescriptionsItem Title="创建时间">
        @Pod.Metadata.CreationTimestamp?.AgeFromUtc()
        (@Pod.Metadata.CreationTimestamp)
    </DescriptionsItem>
    <DescriptionsItem Title="Name">@Pod.Name()</DescriptionsItem>
    <DescriptionsItem Title="Namespace">@Pod.Namespace()</DescriptionsItem>
    <DescriptionsItem Title="状态">@Pod.Status()</DescriptionsItem>

    <DescriptionsItem Title="Controlled By">
        @if (Pod.Metadata.OwnerReferences != null)
        {

            @foreach (var owner in Pod.Metadata.OwnerReferences)
            {
                @owner.Kind @(" ") @owner.Name
            }
        }
    </DescriptionsItem>
    <DescriptionsItem Title="Node">@Pod.Spec.NodeName</DescriptionsItem>
    <DescriptionsItem Title="Pod IP">@Pod.Status.PodIP</DescriptionsItem>
    <DescriptionsItem Title="Pod IPs">
        @foreach (var ip in Pod.Status.PodIPs)
        {
            <Tag PresetColor=@PresetColor.Cyan>@ip.Ip</Tag>
        }
    </DescriptionsItem>

    <DescriptionsItem Title="Priority Class">@Pod.Spec.PriorityClassName</DescriptionsItem>
    <DescriptionsItem Title="QoS Class">@Pod.Status.QosClass</DescriptionsItem>
    <DescriptionsItem Title="Labels">
        @foreach (var label in Pod.Labels())
        {
            <Tag PresetColor=@PresetColor.Green>@label.Key = @label.Value</Tag>
        }
    </DescriptionsItem>
    <DescriptionsItem Title="NodeSelector">
        @if (Pod.Spec.NodeSelector != null)
        {
            @foreach (var ns in Pod.Spec.NodeSelector)
            {
                <Tag PresetColor=@PresetColor.Volcano>@ns.Key = @ns.Value</Tag>
            }
        }
    </DescriptionsItem>
    <DescriptionsItem Title="Conditions">
        @foreach (var ns in Pod.Status.Conditions)
        {
            if (ns.Status == "True")
            {
                <Tag PresetColor=@PresetColor.Blue>@ns.Type</Tag>
            }
            else
            {
                <Tag PresetColor=@PresetColor.Red>@ns.Type</Tag>
            }

        }
    </DescriptionsItem>
    <DescriptionsItem Title="Annotations">
        @if (Pod.Metadata.Annotations != null)
        {
            @foreach (var label in Pod.Annotations())
            {
                <Tag PresetColor=@PresetColor.Lime>@label.Key = @label.Value</Tag>
            }
        }

    </DescriptionsItem>
    <DescriptionsItem Title="Tolerations">
        @if (Pod.Spec.Tolerations != null)
        {
            @foreach (var t in Pod.Spec.Tolerations)
            {
                <Tag PresetColor=@PresetColor.Lime>@t.Key  @t.OperatorProperty   @t.Value    @t.Effect @t.TolerationSeconds</Tag>
            }


    <Table TItem="V1Toleration" DataSource="Pod.Spec.Tolerations"
           HidePagination="true" PageSize="5000"
           Size=@TableSize.Small Bordered="true">
        <AntDesign.Column Sortable="true" TData="string" Title="Key"
                          SorterCompare="@((a,b)=> a.Length - b.Length)"
                          Field="@context.Key" />
        <AntDesign.Column Sortable="true" TData="string" Title="Operator" Field="@context.OperatorProperty" />
        <AntDesign.Column Sortable="true" TData="string" Title="Value">@context.Value</AntDesign.Column>
        <AntDesign.Column Sortable="true" TData="string" Title="Effect">@context.Effect</AntDesign.Column>
        <AntDesign.Column Sortable="true" TData="string" Title="TolerationSeconds">@context.TolerationSeconds</AntDesign.Column>
    </Table>
        }

    </DescriptionsItem>
</Descriptions>
}
