@page "/Cluster"
@using k8s.Models
@using Mapster
@using Extension
@using BlazorApp.Pages.Common.Html.HTable
@using BlazorApp.Pages.Common.Metadata
@using BlazorApp.Pages.Node
@using BlazorApp.Pages.Common.Html
@using BlazorApp.Pages.Common

<Card Title="集群信息" Style="margin: 20px">
    <GridRow Class="wideTable">
        <GridCol Span="10">
            <Card Title="@KubeService.CurrentContext()" Style="margin: 10px">
                @if (ComponentStatus is { Count: > 0 })
                {
                    <HTable>
                        @foreach (var status in ComponentStatus)
                        {
                            <HTableColumn Title="@status.Name()">
                                <ConditionsTagView Conditions="@(status.Conditions.Adapt<IList<V1Condition>>())"></ConditionsTagView>
                            </HTableColumn>
                        }
                    </HTable>
                }
            </Card>
        </GridCol>
        <GridCol Span="14">
            <Card Title="实时巡检" Style="margin: 10px">
                <GridRow Class="grid-table">
                    <GridCol Span="6">异常汇总</GridCol>
                    <GridCol Span="18">智能分析</GridCol>
                </GridRow>
                <GridRow Class="grid-table">
                    <GridCol Span="6">

                        <p>
                            last:<AgeView Age="@LastInspection"></AgeView> ago
                        </p>
                        @if (AnalyzeResult is { Count: > 0 })
                        {
                            @foreach (var kv in AnalyzeResult.GroupBy(x => x.Kind).Select(g => new { Kind = g.Key, Count = g.Count() }))
                            {
                                <div>
                                    @($"{kv.Kind}:") <Badge Count="@kv.Count"/>
                                </div>
                            }
                        }
                        @if (PassResources is { Count: > 0 })
                        {
                            @foreach (var name in PassResources)
                            {
                                <div>
                                    @($"{name}:") <Badge Count="0" ShowZero="true" Style="background-color: #52c41a; "/>
                                </div>
                            }
                        }
                    </GridCol>
                    <GridCol Span="18">
                        <Button Type="@ButtonType.Default" OnClick="@OnSummaryClick">分析</Button>
                        @if (!_aiSummary.IsNullOrWhiteSpace())
                        {
                            <Alert Type="@AlertType.Warning">
                                @((MarkupString)_aiSummary.ToHtmlDisplay())
                            </Alert>
                        }
                    </GridCol>
                </GridRow>
            </Card>
        </GridCol>
    </GridRow>
</Card>


<Tabs Style="margin: 50px" DefaultActiveKey="1" Type="@TabType.Card" Size="@TabSize.Large">
    <TabPane Key="1" Tab="API Status">
        @if (ApiServicesList is { Count: > 0 })
        {
            <GridRow Class="grid-table">
                <GridCol Span="8">Name</GridCol>
                <GridCol Span="8">Status</GridCol>
            </GridRow>
            @foreach (var item in ApiServicesList)
            {
                <GridRow Class="grid-table grid-table-first-row">
                    <GridCol Span="8"> @item.Name()</GridCol>
                    <GridCol Span="8">
                        <ConditionsTagView Conditions="@(item.Status.Conditions.Adapt<IList<V1Condition>>())"></ConditionsTagView>
                    </GridCol>
                </GridRow>
            }
        }
    </TabPane>
    <TabPane Key="2" Tab="Nodes">
        @if (NodeList is { Count: > 0 })
        {
            <GridRow Class="grid-table">
                <GridCol Span="24">
                    <Space Size="@("4")" Wrap>
                        @foreach (var item in NodeList)
                        {
                            <SpaceItem>
                                <Card Title="@item.Name()" Style="margin: 10px;width: 380px">
                                    <NodeStatusChart Node="@item"></NodeStatusChart>
                                </Card>
                            </SpaceItem>
                        }
                    </Space>
                </GridCol>
            </GridRow>
        }
    </TabPane>
    <TabPane Key="3" Tab="Pods">
        @if (PodList is { Count: > 0 })
        {
            <GridRow Class="grid-table">
                <GridCol Span="8">Name</GridCol>
                <GridCol Span="8">CPU</GridCol>
                <GridCol Span="8">Memory</GridCol>
            </GridRow>
            @foreach (var item in PodList)
            {
                <GridRow Class="grid-table grid-table-first-row">
                    <GridCol Span="8">@item.Name()</GridCol>
                    <GridCol Span="8">
                        <MetricView ResourceType="Pod" ItemName="@item.Name()" MetricType="cpu"></MetricView>
                    </GridCol>
                    <GridCol Span="8">
                        <MetricView ResourceType="Pod" ItemName="@item.Name()" MetricType="memory"></MetricView>
                    </GridCol>
                </GridRow>
            }
        }
    </TabPane>

    <TabPane Key="4" Tab="Error">

        @if (AnalyzeResult is { Count: > 0 })
        {
            <GridRow Class="grid-table">
                <GridCol Span="6">Name</GridCol>
                <GridCol Span="9">Error</GridCol>
                <GridCol Span="3">Parent</GridCol>
                <GridCol Span="2">Action</GridCol>

            </GridRow>
            @foreach (var item in AnalyzeResult)
            {
                <GridRow Class="grid-table grid-table-first-row">

                    <GridCol Span="6">
                        <RefView Ref="@GetRef(item)" FullView="true"></RefView>
                    </GridCol>
                    <GridCol Span="9">
                        @foreach (var failure in item.Error)
                        {
                            <li>@failure.Text</li>
                        }
                    </GridCol>
                    <GridCol Span="3"> @item.ParentObject</GridCol>
                    <GridCol Span="2">
                        <Button OnClick="@(() => OnAnalyzeClick(item))">智能分析</Button>
                    </GridCol>
                </GridRow>
            }
        }
    </TabPane>
</Tabs>
