@page "/Cluster"
@using k8s.Models
@using Mapster
@using Extension
@using BlazorApp.Pages.Common.Html.HTable
@using BlazorApp.Pages.Common.Metadata
@using BlazorApp.Pages.Node
@using BlazorApp.Pages.Common.Html
@using BlazorApp.Pages.Common

<GridRow Class="wideTable">
    <GridCol Span="10">
        <Card Title="@KubeService.CurrentContext()" Style="margin: 10px">
            @if (ComponentStatus is { Count: > 0 })
            {
                <HTable>
                    @if (ServerInfo != null)
                    {
                        <HTableColumn Title="version">
                            <ColorfulTag>@ServerInfo.GitVersion</ColorfulTag>
                            <ColorfulTag>@ServerInfo.Platform</ColorfulTag>
                        </HTableColumn>
                    }

                    @foreach (var status in ComponentStatus)
                    {
                        <HTableColumn Title="@status.Name()">
                            <ConditionsTagView Conditions="@(status.Conditions.Adapt<IList<V1Condition>>())"></ConditionsTagView>
                        </HTableColumn>
                    }
                </HTable>
            }
        </Card>
    </GridCol>
    <GridCol Span="14">
        <Card Title=@($"实时巡检 【最近一次：{LastInspection.ToLocalTime()}】") Style="margin: 10px">
            <GridRow Class="grid-table">
                <GridCol Span="6">异常汇总</GridCol>
                <GridCol Span="18">智能分析</GridCol>
            </GridRow>
            <GridRow Class="grid-table">
                <GridCol Span="6">

                    <p>
                        last:<AgeView Age="@LastInspection"></AgeView> ago
                    </p>
                    @if (AnalyzeResult is { Count: > 0 })
                    {
                        @foreach (var kv in AnalyzeResult.GroupBy(x => x.Kind).Select(g => new { Kind = g.Key, Count = g.Count() }))
                        {
                            <div>
                                @($"{kv.Kind}:") <Badge Count="@kv.Count"/>
                            </div>
                        }
                    }
                    @if (PassResources is { Count: > 0 })
                    {
                        @foreach (var name in PassResources)
                        {
                            <div>
                                @($"{name}:") <Badge Count="0" ShowZero="true" Style="background-color: #52c41a; "/>
                            </div>
                        }
                    }
                </GridCol>
                <GridCol Span="18">
                    <Button Type="@ButtonType.Default" OnClick="@OnSummaryClick">分析</Button>
                    @if (!_aiSummary.IsNullOrWhiteSpace())
                    {
                        <Alert Type="@AlertType.Warning">
                            @((MarkupString)_aiSummary.ToHtmlDisplay())
                        </Alert>
                    }
                </GridCol>
            </GridRow>
        </Card>
    </GridCol>
</GridRow>


<Tabs Style="margin: 50px" DefaultActiveKey="Nodes" Type="@TabType.Card" Size="@TabSize.Large">
    <TabPane Key="Status" Tab="API Status">
        @if (ApiServicesList is { Count: > 0 })
        {
            <GridRow Class="grid-table">
                <GridCol Span="8">Name</GridCol>
                <GridCol Span="8">Status</GridCol>
            </GridRow>
            @foreach (var item in ApiServicesList)
            {
                <GridRow Class="grid-table grid-table-first-row">
                    <GridCol Span="8"> @item.Name()</GridCol>
                    <GridCol Span="8">
                        <ConditionsTagView Conditions="@(item.Status.Conditions.Adapt<IList<V1Condition>>())"></ConditionsTagView>
                    </GridCol>
                </GridRow>
            }
        }
    </TabPane>
    <TabPane Key="Livez" Tab="Livez">
        @((MarkupString)LivezResult.ToHtmlDisplay())
    </TabPane>
    <TabPane Key="Readyz" Tab="Readyz">
        @((MarkupString)ReadyzResult.ToHtmlDisplay())
    </TabPane>
    <TabPane Key="Nodes" Tab="Nodes">
        @if (NodeList is { Count: > 0 })
        {
            <GridRow Class="grid-table">
                <GridCol Span="24">
                    <Space Size="@("4")" Wrap>
                        @foreach (var item in NodeList)
                        {
                            <SpaceItem>
                                <Card Title="@item.Name()" Style="margin: 10px;width: 380px">
                                    <NodeStatusChart Node="@item"></NodeStatusChart>
                                </Card>
                            </SpaceItem>
                        }
                    </Space>
                </GridCol>
            </GridRow>
        }
    </TabPane>
    <TabPane Key="Pods" Tab="Pods">
        @if (PodList is { Count: > 0 })
        {
            <GridRow Class="grid-table">
                <GridCol Span="8">Name</GridCol>
                <GridCol Span="8">CPU</GridCol>
                <GridCol Span="8">Memory</GridCol>
            </GridRow>
            @foreach (var item in PodList)
            {
                <GridRow Class="grid-table grid-table-first-row">
                    <GridCol Span="8">@item.Name()</GridCol>
                    <GridCol Span="8">
                        <MetricView ResourceType="Pod" ItemName="@item.Name()" MetricType="cpu"></MetricView>
                    </GridCol>
                    <GridCol Span="8">
                        <MetricView ResourceType="Pod" ItemName="@item.Name()" MetricType="memory"></MetricView>
                    </GridCol>
                </GridRow>
            }
        }
    </TabPane>

    <TabPane Key="Errors" Tab="Errors">

        @if (AnalyzeResult is { Count: > 0 })
        {
            <GridRow Class="grid-table">
                <GridCol Span="8">Name</GridCol>
                <GridCol Span="12">Error</GridCol>
                <GridCol Span="2">Action</GridCol>

            </GridRow>
            @foreach (var item in AnalyzeResult)
            {
                <GridRow Class="grid-table grid-table-first-row">

                    <GridCol Span="8">
                        <RefView Ref="@GetRef(item)" FullView="true"></RefView>
                    </GridCol>
                    <GridCol Span="12">
                        <div>
                            @foreach (var failure in item.Error)
                            {
                                <li style="list-style: decimal">@failure.Text</li>
                            }
                        </div>
                    </GridCol>
                    <GridCol Span="2">
                        <Button OnClick="@(() => OnAnalyzeClick(item))">智能分析</Button>
                    </GridCol>
                </GridRow>
            }
        }
    </TabPane>

    <TabPane Key="Inspection" Tab="Inspection">

        @if (AllResourcesCount is { Count: > 0 })
        {
            <Space Wrap>
                @foreach (var item in AllResourcesCount)
                {
                    var errors = AnalyzeResult.Where(x => x.Kind == item.Key).ToList().Count;
                    <SpaceItem>
                        <Card Style="width: 300px;margin: 5px">
                            <GridRow Class="grid-table">
                                <GridCol Span="16">
                                    <div >
                                        @item.Key
                                    </div >
                                    <div >
                                        @($"{errors}  / {item.Value}  ")
                                        <span style="color: gray">
                                            @($"[err/all]")
                                        </span >
                                    </div >
                                </GridCol >
                                <GridCol Span="8">
                                    <InspectionResourceRingChart Denominator="@item.Value" Numerator="@errors"></InspectionResourceRingChart >
                                </GridCol >
                            </GridRow>
                        </Card>
                    </SpaceItem>
                }
            </Space>
        }
    </TabPane>
    <TabPane Key="k8sFeature" Tab="Feature">

        @if (Features is { Count: > 0 })
        {
            <GridRow Class="grid-table">
                <GridCol Span="8">Name</GridCol>
                <GridCol Span="6">Stage</GridCol>
                <GridCol Span="6">Status</GridCol>

            </GridRow>
            @foreach (var item in Features)
            {
                <GridRow Class="grid-table grid-table-first-row">

                    <GridCol Span="8">
                        @item.Labels["name"]
                    </GridCol>
                    <GridCol Span="6">
                        @item.Labels["stage"]
                    </GridCol>
                    <GridCol Span="6">
                        @if (item is { Value: > 0 } )
                        {
                            <Tag Color="@PresetColor.Green.ToString()">Enabled</Tag>
                        }
                        else
                        {
                            <Tag >Disabled</Tag>
                        }
                    </GridCol>
                </GridRow>
            }
        }
    </TabPane>
</Tabs>
