@page "/ai/chatDeploy"
@using Extension
<GridRow >
    <GridCol Span="6" >
        <Card Title="提示词">
            <AntList Bordered DataSource="@_data" Size="small">
                <ChildContent Context="item">
                    <ListItem OnClick="@(() => CopyToSearch(item))">
                        <Text Copyable>@item</Text>
                    </ListItem>
                </ChildContent>
            </AntList>
            <TextArea Bordered AutoSize MinRows="20" @bind-Value="@_txtValue" Style="padding-top: 20px"  ></TextArea>
            <Button OnClick="ChatBtnClicked" Type="@ButtonType.Primary">发送</Button>
        </Card>
    </GridCol>

    <GridCol Span="12" >
        <Card Title="反馈信息">
            <Text Copyable>
                @((MarkupString)_advice.ToHtmlDisplay())
            </Text>
        </Card>
    </GridCol>
    <GridCol Span="6" >
        <Card Title="提取Yaml">

            <TextArea Bordered AutoSize MinRows="20"  @bind-Value="@_yamlAdvice"></TextArea>
            <Button OnClick="BtnApplyClicked" Type="@ButtonType.Primary">应用</Button>
            <Button OnClick="BtnDeleteClicked" >删除</Button>
            @if (!string.IsNullOrEmpty(_execResult))
            {
                <Divider Orientation="left" Style="font-weight:bold">执行结果</Divider>
                <div>
                    <p>
                        <Text Copyable>
                            @((MarkupString)_execResult.ToHtmlDisplay())
                        </Text>
                    </p>
                </div>
            }
        </Card>
    </GridCol>
</GridRow>
