@page "/Workflow"
@inherits BlazorApp.Pages.Common.PageBase
<PageTitle>Workflow</PageTitle>
@if (_userInput == null)
{
    <div class="chat-container">
        <div class="center welcome-message">
            How can I help you today?
        </div>
    </div>
}
else
{
    <div class="chat-container">
        <div class="chat-box" id="chat-box">
            @foreach (var message in _messages)
            {
                <div class="message @(message.IsUser ? "user-message" : "bot-message")">
                    <p>@message.Content</p>
                </div>
            }
        </div>
    </div>
}

<div class="bottom-bar">
    <div class="input-box">
        <Search Style="width: 800px" @bind-Value="_userInput" Placeholder="Type your message..."
                EnterButton="@("Send")"
                OnPressEnter="@(() => SendMessage())"
                OnSearch="@(() => SendMessage())"
                OnkeyDown="@HandleKeyPress"
                Size="large"/>
    </div>
    @if (_showPrompt)
    {
        <div class="prompt">
            <ul>
                <li>
                    <button @onclick="@(() => InsertTag("请检查kubernetes-dashboards命名空间下的pod运行状态"))">
                        #pod-kubernetes-dashboards
                    </button>
                </li>
                <li>
                    <button @onclick="@(() => InsertTag("请检查default命名空间下的pod运行状态"))">#pod-default</button>
                </li>
                <li>
                    <button @onclick="@(() => InsertTag("deployment"))">#deployment</button>
                </li>
                <li>
                    <button @onclick="@(() => InsertTag("service"))">#service</button>
                </li>
            </ul>
        </div>
    }
    <GridRow Gutter="8">
        <GridCol Span="4"></GridCol>
        <GridCol Span="16">


        </GridCol>
        <GridCol Span="4"></GridCol>
    </GridRow>
</div>
