@using k8s.Models
@using BlazorApp.Pages.Common.Html.HTable
@using BlazorApp.Pages.Common.Metadata
@using BlazorApp.Pages.Common.Html
@if (Containers != null)
{
    @foreach (var c in Containers)
    {
        <BadgeRibbon Text="@c.Name" Placement="start">
            <Card Bordered>
                <HTable Title="" Bordered Column="1">
                    <HTableColumn Title="Name">
                        <ContainerType Type="@Type"></ContainerType>
                        @c.Name
                    </HTableColumn>
                    <PropertySimpleView Title="Image" Item="@c.Image" ExplainField="pod.spec.containers.name"></PropertySimpleView>
                    <PropertyOptionView Title="ImagePullPolicy" ExplainField="pod.spec.containers.imagePullPolicy" Item="@c.ImagePullPolicy" Options='@(new[] { "Always", "IfNotPresent", "Never" })'></PropertyOptionView>
                    <PropertySimpleView Title="Resources" Item="@c.Resources" ExplainField="pod.spec.containers.resources" ShowInJson="true"></PropertySimpleView>
                    <PropertySimpleView Title="envFrom" Item="@c.EnvFrom" ExplainField="pod.spec.containers.envFrom" ShowInJson="true"></PropertySimpleView>
                    <PropertySimpleView Title="lifecycle" Item="@c.Lifecycle" ExplainField="pod.spec.containers.lifecycle" ShowInJson="true"></PropertySimpleView>
                    <PropertySimpleView Title="ResizePolicy" Item="@c.ResizePolicy" ExplainField="pod.spec.containers.resizePolicy" ShowInJson="true"></PropertySimpleView>
                    <PropertySimpleView Title="securityContext" Item="@c.SecurityContext" ExplainField="pod.spec.containers.securityContext" ShowInJson="true"></PropertySimpleView>
                    <PropertyOptionView Title="TerminationMessagePolicy" Item="@c.TerminationMessagePolicy" ExplainField="pod.spec.containers.terminationMessagePolicy" Options='@(new[] { "FallbackToLogsOnError", "File" })'></PropertyOptionView>
                    <PropertySimpleView Title="TerminationMessagePath" Item="@c.TerminationMessagePath" ExplainField="pod.spec.containers.terminationMessagePath"></PropertySimpleView>
                    <PropertySimpleView Title="WorkingDir" Item="@c.WorkingDir" ExplainField="pod.spec.containers.workingDir"></PropertySimpleView>
                    <PropertySimpleView Title="Tty" Item="@c.Tty" ExplainField="pod.spec.containers.tty"></PropertySimpleView>
                    <PropertySimpleView Title="Stdin" Item="@c.Stdin" ExplainField="pod.spec.containers.stdin"></PropertySimpleView>
                    <PropertySimpleView Title="StdinOnce" Item="@c.StdinOnce" ExplainField="pod.spec.containers.stdinOnce"></PropertySimpleView>
                    <EnvView Env="@c.Env"></EnvView>
                    @if (c.Ports != null)
                    {
                        <HTableColumn Title="Ports">

                            @foreach (var p in c.Ports)
                            {
                                <div>
                                    @($"{p.Name}:{p.ContainerPort}/{p.Protocol}")
                                </div>
                            }
                        </HTableColumn>
                    }
                    @if (c.Command != null)
                    {
                        <HTableColumn Title="Command">
                            @foreach (var cc in c.Command)
                            {
                                @cc
                                <br/>
                            }
                        </HTableColumn>
                    }
                    @if (c.Args != null)
                    {
                        <HTableColumn Title="Args">
                            @foreach (var cc in c.Args)
                            {
                                @cc
                                <br/>
                            }
                        </HTableColumn>
                    }
                    <ProbeView Probe="@c.LivenessProbe" ProbeType="LivenessProbe"></ProbeView>
                    <ProbeView Probe="@c.ReadinessProbe" ProbeType="ReadinessProbe"></ProbeView>
                    <ProbeView Probe="@c.StartupProbe" ProbeType="StartupProbe"></ProbeView>

                    @if (c.VolumeMounts != null)
                    {
                        <HTableColumn Title="VolumeMounts">
                            @foreach (var vm in c.VolumeMounts)
                            {
                                @if (vm.ReadOnlyProperty != null && vm.ReadOnlyProperty == true)
                                {
                                    <Tag PresetColor="@PresetColor.Gold">RO</Tag>
                                }
                                else
                                {
                                    <Tag PresetColor="@PresetColor.Lime">RW</Tag>
                                }

                                <Tag>@vm.Name</Tag>
                                <span>=></span>
                                <Tag Color="#87d068">@vm.MountPath</Tag>
                                <br/>
                            }
                        </HTableColumn>
                    }
                </HTable>
            </Card>
        </BadgeRibbon>
    }
}

@code {

    [Inject]
    IMessageService MessageService { get; set; }

    [Parameter]
    public IList<V1Container> Containers { get; set; }

    [Parameter]
    public string Type { get; set; }

}
