@using BlazorApp.Pages.Common.Metadata
<OptionsView Options='@(new []{ "HttpGet", "Exec", "TcpSocket", "Grpc" })' SelectOption="@Kind"></OptionsView>
<br>
@if (Probe.HttpGet != null)
{
    @($"{Probe.HttpGet.Scheme.ToLower()}://{Probe.HttpGet.Host ?? "127.0.0.1"}:{Probe.HttpGet.Port.Value}{Probe.HttpGet.Path}")
    if (Probe.HttpGet.HttpHeaders != null)
    {
        <br>
        foreach (var header in Probe.HttpGet.HttpHeaders)
        {
            <span>@($"{header.Name}={header.Value}")</span>
        }
    }
}
@if (Probe.Exec != null)
{
    <Paragraph >
        <Text Code Copyable>
            <span  >@String.Join(" ", Probe.Exec.Command.ToArray())</span>
        </Text>
    </Paragraph>

}
@if (Probe.TcpSocket != null)
{
    @($"{Probe.TcpSocket.Host}:{Probe.TcpSocket.Port.Value}")
}
@if (Probe.Grpc != null)
{
    @($"{Probe.Grpc.Service}:{Probe.Grpc.Port}")
}
