@typeparam            T
@using Extension
@using Extension.k8s
@using k8s.Models
@inherits BlazorApp.Pages.Common.PageBase

<div class="default-node ">


    @foreach (var port in Node.Ports.Where(x => x.Alignment == PortAlignment.Left))
    {
        <PortRenderer @key="port" Port="port" Class="default"/>
    }


    @foreach (var port in Node.Ports.Where(x => x.Alignment == PortAlignment.Right))
    {
        <PortRenderer @key="port" Port="port" Class="default"/>
    }

    <div style="width: 260px;" onclick="@(() => Show())">
        <GridRow Style="align-items: center" Gutter="8">
            <GridCol Span="4">

                @if (typeName == "V1Deployment")
                {
                    <Icon Type="appstore" Theme="twotone" Style="font-size: 30px"/>
                }
                else if (typeName == "V1Pod")
                {
                    <Icon Type="hdd" Theme="twotone" Style="font-size: 30px"/>
                }
                else if (typeName == "V1ReplicaSet")
                {
                    <Icon Type="switcher" Theme="twotone" Style="font-size: 30px ;color: teal"/>
                }
            </GridCol>
            <GridCol Span="18" Style=" display: flex; flex-wrap: wrap; ">
                @(resName.Truncate(50))
            </GridCol>
            <GridCol Span="2">
                <Icon Type="more" Theme="outline" Style="font-size: 18px"/>
            </GridCol>
        </GridRow>
        <GridRow Style="align-items: center" Gutter="8">
            @if (typeName == "V1Deployment")
            {
                <GridCol Span="4">
                    @("deploy")
                </GridCol>
                <GridCol Span="20" Style="font-size: 18px">
                    @{
                        var item = Node.Item as V1Deployment;
                    }
                    @if (item?.IsReady() is true)
                    {
                        <Icon Type="heart" Theme="fill" Style="color:#19BE94"/>
                    }
                    else
                    {
                        <Icon Type="thunderbolt" Theme="fill" Style="color:#f5222d"/>
                    }
                </GridCol>
            }
            else if (typeName == "V1Pod")
            {
                <GridCol Span="4">
                    @("pod")
                </GridCol>
                <GridCol Span="20" Style="font-size: 18px">
                    @{
                        var item = Node.Item as V1Pod;
                    }
                    @if (item?.IsReady() is true)
                    {
                        <Icon Type="heart" Theme="fill" Style="color:#19BE94"/>
                    }
                    else
                    {
                        <Icon Type="thunderbolt" Theme="fill" Style="color:#f5222d"/>
                    }
                </GridCol>
            }
            else if (typeName == "V1ReplicaSet")
            {
                <GridCol Span="4">
                    @("rs")
                </GridCol>
                <GridCol Span="20" Style="font-size: 18px">

                    @{
                        var item = Node.Item as V1ReplicaSet;
                    }
                    @if (item?.IsReady() is true)
                    {
                        <Icon Type="heart" Theme="fill" Style="color:#19BE94"/>
                    }
                    else
                    {
                        <Icon Type="thunderbolt" Theme="fill" Style="color:#f5222d"/>
                    }

                </GridCol>
            }


        </GridRow>
    </div>
</div>
