@typeparam            T
@using Extension
@using Entity
@inherits FeedbackComponent<T, bool>
<div>

    <Breadcrumb>
        <BreadcrumbItem>Doc</BreadcrumbItem>
        <BreadcrumbItem >@_currentRootKey</BreadcrumbItem>
    </Breadcrumb>
    <Divider/>
    <div>
        <Button OnClick="ExpandAll">展开</Button>
        <Button OnClick="CollapseAll">收缩</Button>
    </div>
    <Divider/>

    <GridRow>
        <GridCol Flex=@("200px") Style="border-width: 1px">
            <div>
                <Tree
                    ChildrenExpression="x => x.DataItem.ChildList"
                    DataSource="_dataList"
                    IsLeafExpression="x => x.DataItem.RefKey == null"
                    KeyExpression="x => x.DataItem.Title"
                    OnNodeLoadDelayAsync="OnNodeLoadDelayAsync"
                    OnClick="OnItemClick"
                    @ref="_tree"
                    ShowLeafIcon="false"
                    ShowLine="true"
                    TItem="TreeData"
                    TitleExpression="OnTitleExpression">
                </Tree>
            </div>
        </GridCol>
        <GridCol Flex=@("auto")>
            <Affix OffsetTop="60">
                <div >
                    <Card Title="@_currentItem.Title" Style="max-width:600px">
                        <Body>
                        <p>@_currentItem.description</p>
                        <p>
                            @if (_currentItem.type != null)
                            {
                                <Tag Color="@PresetColor.Volcano.ToString()">@_currentItem.type</Tag>
                            }
                            @if (_currentItem.format != null)
                            {
                                <Tag Color="@PresetColor.Orange.ToString()">@_currentItem.format</Tag>
                            }
                        </p>
                        </Body>
                    </Card>
                    @if (!string.IsNullOrEmpty(_resultCn))
                    {
                        <Card Title="@(AiService.Name() + "Translation")" Style="max-width:600px">
                            <p><Button Icon="@IconType.Fill.Frown" Type="@ButtonType.Link" OnClick="@ReTranslate">对这个翻译不满意，重新翻译</Button></p>
                            <p>
                                @((MarkupString)_resultCn.ToHtmlDisplay())
                            </p>
                        </Card>
                    }
                </div>
            </Affix>
        </GridCol>
    </GridRow>
</div>
