@inherits PageBase
<Button OnClick="@KubectlExplainClick"
        Size="small"
        Type="@ButtonType.Link"
        Color="@Color.Gray2"
        Shape="@ButtonShape.Circle"
        Icon="@IconType.Outline.Question">
</Button>
