@using BlazorApp.Pages.Common.Html
@using k8s.Models
@inherits PageBase
@if (Tolerations != null)
{
    <HTableColumn Title=@L["Tolerations"] ExplainField="@ExplainField">

        <Collapse>
            <Panel Key="1">
                <HeaderTemplate>
                    <Badge Count="@Tolerations.Count"/>
                </HeaderTemplate>
                <ChildContent>
                    <Table TItem="V1Toleration" DataSource="Tolerations"
                           HidePagination="true" PageSize="5000"
                           Size=@TableSize.Small Bordered="true">
                        <AntDesign.Column TData="string" Title=@L["Key"] Field="@context.Key"/>
                        <AntDesign.Column TData="string" Title=@L["TolerationOperator"] Field="@context.OperatorProperty"/>
                        <AntDesign.Column TData="string" Title=@L["Value"]>@context.Value</AntDesign.Column>
                        <AntDesign.Column TData="string" Title=@L["Effect"]>@context.Effect</AntDesign.Column>
                        <AntDesign.Column TData="string" Title=@L["TolerationSeconds"]>@context.TolerationSeconds</AntDesign.Column>
                    </Table>
                </ChildContent>
            </Panel>
        </Collapse>
    </HTableColumn>
}
