@page "/Deployments"
@using k8s.Models
@using Extension
@using BlazorApp.Pages.Workload
@using BlazorApp.Pages.Common
@inherits TableBase<V1Deployment>
@if (TableDataHelper.PagedItems != null)
{
    <Card Bordered="false" Hoverable="true">
        <TitleTemplate>
            <SearchToolBar Title="Deployments" Count="@TableDataHelper.Total"
                           OnSearch="OnSearchHandler"
                           OnNsSelected="OnNsSelectedHandler">
            </SearchToolBar>
        </TitleTemplate>
        <ChildContent>
            <Body>

            <Table TItem="V1Deployment"
                   DataSource="@TableDataHelper.PagedItems"
                   Size=@TableSize.Small Bordered="true"
                   Total="TableDataHelper.Total"
                   @bind-PageIndex="TableDataHelper.PageIndex"
                   @bind-PageSize="TableDataHelper.PageSize"
                   @bind-SelectedRows="TableDataHelper.SelectedRows"
                   Loading="TableDataHelper.Loading"
                   OnChange="OnPageChangeHandler">
                <Selection Key="@(context.Name())"/>
                <AntDesign.Column Field="@context.Name()" Title="Name">
                    <Button OnClick="@(() => OnDeployClick(context))" Type="@ButtonType.Link">@context.Name()</Button>
                </AntDesign.Column>
                <AntDesign.Column Field="@context.Namespace()" Title="Namespace"/>

                <AntDesign.Column Title="Desired" TData="int">
                    @(context.Spec.Replicas ?? 0)
                </AntDesign.Column>
                <AntDesign.Column Title="Current" TData="int">
                    @(context.Status.AvailableReplicas ?? 0)
                </AntDesign.Column>
                <AntDesign.Column Title="Ready" TData="int">
                    @(context.Status.ReadyReplicas ?? 0)
                </AntDesign.Column>
                <AntDesign.Column Title="Age" TData="string">
                    @context.CreationTimestamp()?.AgeFromUtc()
                </AntDesign.Column>
                <AntDesign.Column Title="Condition" TData="string">
                    <Condition ConditionList="@context.Status.Conditions"></Condition>
                </AntDesign.Column>

                <ActionColumn Title="Action" Width="200" Fixed="right">
                    <DeploymentAction Item="@context"></DeploymentAction>
                </ActionColumn>
            </Table>
            </Body>
        </ChildContent>

    </Card>
    <ResourceWatcher OnResourceChanged="OnResourceChanged" T="V1Deployment"></ResourceWatcher>
}
