@inherits BlazorApp.Pages.Common.PageBase
@using k8s.Models
@using BlazorApp.Pages.Namespace
@typeparam            TItem

<GridRow >
    <GridCol Span="6">
        <div style="@_style">@Title</div>
    </GridCol>
    <GridCol Span="6">
        <div style="@_style">@Count @L["Items"]</div>
    </GridCol>
    <GridCol Span="6">
        <div style="@_style">
            @if (!HideNsSelector)
            {
                <NamespaceSelect OnNsSelected="OnNsSelectedHandler"></NamespaceSelect>
            }
        </div>
    </GridCol>
    <GridCol Span="5">
        <div style="@_style">
            <Search Placeholder="@($"{L["Search"]} {Title}")" OnSearch="@OnSearchHandler" OnChange="@OnSearchHandler" @bind-Value="@TxtValue" AllowClear EnterButton="@("Search")" ClassicSearchIcon/>
        </div>
    </GridCol>
    <GridCol Span="1"></GridCol>
</GridRow>

@ChildContent

@if (TableData?.SelectedRows?.Count() > 0)
{
    <GridRow Class="grid-table">
        <GridCol Span="2">
            操作：
        </GridCol>
        <GridCol Span="4">
            @* <Button Type="@ButtonType.Primary" Size="small">添加</Button> *@
            @if (TableData?.SelectedRows?.Count() > 0)
            {
                <Popconfirm Title="Are you sure delete this item?" OnConfirm="@DeleteHandler">
                    <Button Type="@ButtonType.Primary" Danger Size="small">删除</Button>
                </Popconfirm>

                <Button Size="small" OnClick="@RemoveAllSelectedHandler">取消选择</Button>
            }
        </GridCol>
        <GridCol Span="2">
            @if (TableData?.SelectedRows?.Count() > 0)
            {
                @($"已选({TableData.SelectedRows.Count()})：")
            }
        </GridCol>
        <GridCol Span="15">
            @if (TableData?.SelectedRows?.Count() > 0)
            {
                @foreach (var selected in TableData.SelectedRows)
                {
                    <Tag @key="selected" Closable OnClose="@(() => CloseSelectedItemHandler($"{selected.Namespace()}/{selected.Name()}"))">@selected.Name()</Tag>
                }
            }
        </GridCol>
    </GridRow>
}
