@typeparam            T
@inherits PageBase

@if (MenuMode == MenuMode.Vertical)
{
    <Dropdown >
        <Overlay >
            <Menu >
                <MenuItem OnClick="@(() => OnDescribeClick(Item))">@L["Describe"]</MenuItem>
                <MenuItem OnClick="@(() => OnYamlClick(Item))">@L["Yaml"]</MenuItem>
                <MenuItem OnClick="@(() => OnDocClick(Item))">@L["Doc"]</MenuItem>
                @if (_enable)
                {
                    <MenuItem OnClick="@(() => OnAnalyzeClick(Item))">@L["Inspection"]</MenuItem>
                    <MenuItem OnClick="@(() => OnSecurityClick(Item))">@L["Security"]</MenuItem>
                }
                @ChildContent
            </Menu>
        </Overlay>
        <ChildContent>
            <Button>
                @L["Action"]
                <Icon Type="down"/>
            </Button>
        </ChildContent>
    </Dropdown>
}
@if (MenuMode == MenuMode.Horizontal)
{
    <Alert Type="@AlertType.Success">
        <Button OnClick="@(() => OnDescribeClick(Item))">@L["Describe"]</Button>
        <Button OnClick="@(() => OnYamlClick(Item))">@L["Yaml"]</Button>
        <Button OnClick="@(() => OnDocClick(Item))">@L["Doc"]</Button>
        @if (_enable)
        {
            <Button OnClick="@(() => OnAnalyzeClick(Item))">@L["Inspection"]</Button>
            <Button OnClick="@(() => OnSecurityClick(Item))">@L["Security"]</Button>
        }
        @ChildContent
    </Alert>
}
