@page "/StatefulSet"
@using k8s.Models
@using Extension
@using BlazorApp.Pages.Common
@using BlazorApp.Pages.Common.Metadata
@inherits TableBase<V1StatefulSet>
@if (TableData.PagedItems != null)
{
    <Card Bordered="false" Hoverable="true">
        <TitleTemplate>
            <SearchToolBar Title="StatefulSet" Count="@TableData.Total"
                           OnSearch="OnSearchHandler"
                           OnNsSelected="OnNsSelectedHandler">
            </SearchToolBar>
        </TitleTemplate>
        <ChildContent>
            <Body>

            <Table TItem="V1StatefulSet"
                   DataSource="@TableData.PagedItems"
                   Size=@TableSize.Small Bordered="true"
                   Total="TableData.Total"
                   @bind-PageIndex="TableData.PageIndex"
                   @bind-PageSize="TableData.PageSize"
                   @bind-SelectedRows="TableData.SelectedRows"
                   Loading="TableData.Loading"
                   OnChange="OnPageChangeHandler">
                <Selection Key="@(context.Name())"/>
                <AntDesign.Column Field="@context.Name()" Title="Name">
                    <Button OnClick="@(() => OnItemNameClick(context))" Type="@ButtonType.Link">@context.Name()</Button>
                </AntDesign.Column>
                <AntDesign.Column Field="@context.Namespace()" Title="Namespace"/>
                <AntDesign.Column Title="存活" TData="string">
                    <AgeView Age="@context.CreationTimestamp()"></AgeView>
                </AntDesign.Column>
                <ActionColumn Title="Action" Width="200" Fixed="right">
                    <StatefulSetAction Item="@context"></StatefulSetAction>
                </ActionColumn>
            </Table>
            </Body>
        </ChildContent>

    </Card>
    <ResourceWatcher OnResourceChanged="OnResourceChanged" T="V1StatefulSet"></ResourceWatcher>
}
